<div class="modal-body">
    <div class="form-area">

        <form id="add_form" name="add_form" autocomplete="off" >

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="control-label">Game Schedule</label>
                        <input name="LeagueJoinDateTime" id="LeagueJoinDateTime" readonly="" ng-model="LeagueJoinDateTime" type="text" class="form-control" value="">
                        <input type="hidden" name="PredraftContestID">
                        <!-- <small>Set league join date time on which time user can create a team.</small> -->
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm refresh" data-dismiss="modal" ng-click="pageRefresh()">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="createContest()">Save</button>
</div>


