<style type="text/css">
    .creatcontast_list .btn-submit {
        margin-top: 25px;
        padding: 5px 10px;
        margin-left: 5px;
    }
</style>
<div class="modal-body">
    <div class="form-area">

        <form id="add_form" name="add_form" autocomplete="off" >

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Contest Name</label>
                        <input name="ContestName" type="text" class="form-control" placeholder="Contest Name" value="" maxlength="40">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Series</label>
                        <select id="Series" name="SeriesGUID[]" ng-model="SeriesGUID" class="form-control chosen-select" multiple="">
                            <option value="">Please Select</option>
                            <option ng-repeat="Series in filterData.SeiresData" value="{{Series.SeriesID}}">{{Series.SeriesName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">All Active Series</label>
                        <input name="AllSeries" ng-model="AllSeries" type="checkbox" class="form-control" value="1">
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Paid Contest?</label>
                        <select id="IsPaid" ng-model="IsPaid" name="IsPaid" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>

                        </select>
                        <small>Select this option notifiy that Contest is free or paid.</small>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Contest Format</label>
                        <select id="ContestFormat" ng-model="ContestFormat" name="ContestFormat" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Head to Head">Head to Head</option>
                            <option value="League">League</option>
                        </select>
                        <small></small>
                    </div>
                </div>

                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Pool Type</label>
                        <select id="UnfilledWinningPercent" name="UnfilledWinningPercent" ng-model="UnfilledWinningPercent" class="form-control chosen-select" ng-change="changeUnfilledWinningPercent(UnfilledWinningPercent)">
                            <option value="">Please Select</option>
                            <option value="GuranteedPool">Infinity Pool</option>
                            <option value="Fixed">Normal</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head' && UnfilledWinningPercent == 'GuranteedPool'">
                    <div class="form-group">
                        <label class="control-label">Winning Percent (%)</label>
                        <input name="WinningRatio" ng-model="WinningRatio" type="text" class="form-control integer" value="2" >
                    </div>
                </div>

                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head' && UnfilledWinningPercent == 'GuranteedPool'">
                    <div class="form-group">
                        <label class="control-label">Win Up To</label>
                        <input name="WinUpTo" ng-model="WinUpTo" type="text" class="form-control" value="1" >
                    </div>
                </div>

                <div class="col-md-3" ng-show="SmartPoolField">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Smart Pool</label>
                        <select name="SmartPool" ng-model="SmartCustom.SmartPool" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-3" ng-show="showContestSize" ng-if="SmartCustom.SmartPool == 'No'">
                    <div class="form-group">
                        <label class="control-label">Winning Amount</label>
                        <input name="WinningAmount" ng-model="custom.WinningAmount" placeholder="Winning Amount" type="text" class="form-control numeric" value="0" ng-if="IsPaid == 'Yes'">
                        <input name="WinningAmount" ng-model="custom.WinningAmount" ng-init="custom.WinningAmount = '0'" placeholder="Winning Amount" type="text" class="form-control numeric" value="0" ng-if="IsPaid == 'No'" >
                    </div>
                </div>

                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head' && UnfilledWinningPercent != 'GuranteedPool'">
                    <div class="form-group">
                        <label class="control-label">Contest Size</label>
                        <input name="ContestSize" ng-model="custom.ContestSize" type="text" class="form-control integer" value="2" >
                    </div>
                </div>

                <div class="col-md-3" ng-if="IsPaid == 'Yes' && SmartCustom.SmartPool == 'No'">
                    <div class="form-group">
                        <label class="control-label">Admin Percentage (%)</label>
                        <input name="AdminPercent" ng-model="custom.AdminPercent" placeholder="Admin Charges in Percentage"  ng-init="custom.AdminPercent = '10'" type="text" class="form-control numeric" maxlength="3" ng-if="IsPaid == 'Yes'">
                    </div>
                </div>

                <div class="col-md-3" ng-if="IsPaid == 'Yes'">
                    <div class="form-group">
                        <label class="control-label">Cash Bonus Contribution (%)</label>
                        <input name="CashBonusContribution" ng-model="custom.CashBonusContribution" placeholder="Cash Bonus Contribution in Percentage" type="text" class="form-control numeric" value="0" maxlength="3" ng-if="IsPaid == 'Yes'">
                    </div>
                </div>

                <div class="col-md-3" ng-if="IsPaid == 'Yes'" >
                    <div class="form-group">
                        <label class="control-label">Entry Fee</label>
                        <!-- <input name="EntryFee" ng-model="EntryFee" type="text" placeholder="0" class="form-control numeric" value="" maxlength="40" ng-if="IsPaid=='Yes'" readonly>
                        <input name="EntryFee" ng-model="EntryFee" type="text" ng-init="EntryFee='0'" placeholder="0" class="form-control numeric" value="0" maxlength="40" ng-if="IsPaid=='No'" readonly> -->
                        <input name="EntryFee" ng-model="EntryFee.fee" type="text" placeholder="0" class="form-control numeric" value="" maxlength="40" ng-readonly="(SmartCustom.SmartPool == 'Yes' || UnfilledWinningPercent == 'GuranteedPool') ? false : true">

                    </div>
                </div>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Entry Type</label>
                        <select id="EntryType" name="EntryType" ng-model="EntryType" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Single">Single</option>
                            <option value="Multiple">Multiple</option>
                        </select>
                        <small>Select option to notify if Contest is single or multiple.</small>
                    </div>
                </div>
                <div class="col-md-3" ng-if="EntryType == 'Multiple'" ng-init="UserJoinLimit = 0">
                    <div class="form-group">
                        <label class="control-label">Maximum Multiple Team Allowed</label>
                        <input name="UserJoinLimit" ng-model="UserJoinLimit" placeholder="League Join Limit" type="text" class="form-control numeric" value="0" maxlength="5">
                    </div>
                </div>

                <input ng-if="ContestFormat == 'Head to Head'" type="hidden" name="ContestSize" value="2">
                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Contest Type</label>
                        <select id="ContestType" name="ContestType" ng-model="ContestType" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Hot">Hot</option>
                            <option value="Champion">Champion</option>
                            <option value="Practice">Practice</option>
                            <option value="More">More</option>
                            <option value="Mega">Mega</option>
                            <option value="Smart Pool">Smart Pool</option>
                            <option value="Infinity Pool">Infinity Pool</option>
                            <option value="Winner Takes All">Winner Takes All</option>
                            <option value="Only For Beginners">Only For Beginners</option>
                        </select>
                        <small>Select option to notify Contest type.Select Contest Format as League if you are creating Head to Head Contest.</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Confirm Contest</label>
                        <select id="IsConfirm" name="IsConfirm" ng-model="IsConfirm" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select option to notify Contest is confirm Contest or not.</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Show Joined Users</label>
                        <select id="ShowJoinedContest" name="ShowJoinedContest" ng-model="ShowJoinedContest" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select option to notify joined user in Contest.</small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Auto Create ?</label>
                        <select id="IsAutoCreate" name="IsAutoCreate" ng-model="IsAutoCreate" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select yes option to auto create same Contest, If joining limit is over.</small>
                    </div>
                </div>
                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head' && UnfilledWinningPercent != 'GuranteedPool'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Safe mode User Joined?</label>
                        <select id="IsVirtualUserJoined" name="IsVirtualUserJoined" ng-model="IsVirtualUserJoined" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-3" ng-if="ContestFormat != 'Head to Head' && UnfilledWinningPercent != 'GuranteedPool'">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Safe mode User Joined Percentage</label>
                        <input name="VirtualUserJoinedPercentage"  ng-model="VirtualUserJoinedPercentage" type="text" placeholder="0" class="form-control" value="" >
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Customize Winnings</label>
                        <!-- <input type="checkbox" ng-model="custom.winnings" ng-click="customizeWin()" > -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showContestSize" ng-if="SmartCustom.SmartPool == 'No'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="custom.NoOfWinners"  name="NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div ng-show="showField" class="creatcontast_list">
                        <p><b>Remaining Percent :</b> {{remainingPercentage}}</p>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Winning %</th>
                                    <th>Winning Amount</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    {{number}}
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-change="changePercent($index); Check($index);" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{r.To}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <label>Percent</label> <input type="text" ng-model="r.percent" name="percent" class="form-control" ng-change="changePercent($index)" valid-number>
                                    </td>
                                    <td><label>Amount</label> <input type="text" class="form-control" ng-model="r.amount" ng-change="changeAmount($index)"></td>

                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="percent_error">*Percent field is required</div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>
                </div>
            </div>
            <div class="row" ng-show="showContestSize" ng-if="SmartCustom.SmartPool == 'Yes'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="custom.NoOfWinners"  name="NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div ng-show="showField" class="creatcontast_list">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Prize</th>
                                    <th>Image</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    {{number}}
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{(r.To - r.From) + 1}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <label>Name</label>
                                        <select name="ProductGUID" ng-model="r.CategoryGUID" class="form-control chosen-select" ng-change="getCategoryImage(r.CategoryGUID, $index)">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="subCat in data.categoryList" value="{{subCat.CategoryGUID}}">{{subCat.CategoryName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img ng-src="" id="ProductImage{{$index}}" style="max-width: 100px;">
                                    </td>
                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>
                </div>
            </div>

        </form>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addDataPreContest()">Save</button>
</div>


