<div class="modal-body">
    <div class="form-area">
    
        <form id="add_form" name="add_form" autocomplete="off" >

            <div class="row">
                <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Game Type</label>
                                <select id="GameType" ng-model="GameType" name="GameType" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Solo">Solo</option>
                                        <option value="Duo">Duo</option>
                                        <option value="Squad">Squad</option>
                                </select>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Game Version</label>
                                <select id="GameVersion" ng-model="GameVersion" name="GameVersion" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="TPP">TPP</option>
                                        <option value="FPP">FPP</option>
                                </select>
                        </div>
                </div>
                 <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Map</label>
                                <select id="Map" ng-model="Map" name="Map" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Erangel">Erangel</option>
                                        <option value="Miramar">Miramar</option>
                                        <option value="Vikendi">Vikendi</option>
                                        <option value="Sanhok">Sanhok</option>
                                         <option value="TDM">TDM</option>
                                </select>
                        </div>
                </div>
                <input type="hidden" name="GameTimeLive" id="GameTimeLive" ng-model="GameTimeLive" value="0">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Game Name</label>
                        <input name="TournamentName" type="text" class="form-control" placeholder="Tournament Name" value="" maxlength="40">
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Game Schedule</label>
                        <input name="LeagueJoinDateTime" id="LeagueJoinDateTime" readonly="" ng-model="LeagueJoinDateTime" type="text" class="form-control" value="">
                        < <small>Set league join date time on which time user can create a team.</small> 
                    </div>
                </div>-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Start Date/Time</label>
                        <input name="StartDateTime" id="StartDateTime" readonly="" ng-model="StartDateTime" type="text" class="form-control" value="">
                        <!-- <small>Set league join date time on which time user can create a team.</small> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">End Date/Time</label>
                        <input name="EndDateTime" id="EndDateTime" readonly="" ng-model="EndDateTime" type="text" class="form-control" value="">
                        <!-- <small>Set league join date time on which time user can create a team.</small> -->
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Paid Tournament?</label>
                        <select id="IsPaid" ng-model="IsPaid" name="IsPaid" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                      <!--   <small>Select this option notifiy that Tournament is free or paid.</small> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Game Cover Image</label>
                        <select id="MainTopBannerImage" ng-model="MainTopBannerImage" name="MainTopBannerImage" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="SoloBanner">solo banner img</option>
                            <option value="DualBanner">dual banner img</option>
                            <option value="SquadBanner">squad banner img</option>
                            <option value="FreeFire">Free Fire</option>
                        </select>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Game Rule</label>
                        <select id="GameRule" ng-model="GameRule" name="GameRule" class="form-control">
                            <option value="">Please Select</option>
                            <option value="SoloRule">solo game rule</option>
                            <option value="DualRule">dual game rule</option>
                            <option value="SquadRule">squad game rule</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Platform</label>
                                <select id="Platform" ng-model="Platform" name="Platform" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Mobile">Mobile</option>
                                        <option value="Desktop">Desktop</option>
                                        <option value="Lite">Lite</option>
                                        <option value="Playstation">Playstation</option>
                                        <option value="Xbox">Xbox</option>
                                </select>
                        </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Winning Type</label>
                        <select id="WinningType" ng-model="WinningType" name="WinningType" class="form-control">
                            <option value="">Please Select</option>
                            <option value="PerKill">Per Kill</option>
                            <option value="PrizePool">Prize Pool</option>
                            <option value="Both">Both</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" id="TournamentFormat" name="TournamentFormat" ng-model="TournamentFormat" value="League" />
                <input type="hidden" id="UnfilledWinningPercent" name="UnfilledWinningPercent" ng-model="UnfilledWinningPercent" value="Fixed" />
                <input type="hidden" id="WinningRatio" name="WinningRatio" value="2" />
                <input type="hidden" id="SmartPool" name="SmartPool" ng-model="SmartPool" value="No" />
                <input type="hidden" id="EntryType" name="EntryType" ng-model="EntryType" value="Single" />
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label">Winning Amount</label>
                        <input name="WinningAmount" ng-model="custom.WinningAmount" placeholder="Winning Amount" type="text" class="form-control numeric" value="0" ng-if="IsPaid == 'Yes'">
                        <input name="WinningAmount" ng-model="custom.WinningAmount" ng-init="custom.WinningAmount = '0'" placeholder="Winning Amount" type="text" class="form-control numeric" value="0" ng-if="IsPaid == 'No'" >
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tournament Size</label>
                        <input name="TournamentSize" ng-model="custom.TournamentSize" type="text" class="form-control integer" value="" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Group Size</label>
                        <input name="GroupSize" ng-model="custom.GroupSize" type="text" class="form-control integer" value="" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <!--label class="control-label">Round Size</label-->
                        <label class="control-label">Round Size</label>
                        <input name="RoundSize" ng-model="custom.RoundSize" type="text" class="form-control integer" value="" ng-change="">

                    </div>
                </div>

                <div class="col-md-4" ng-if="IsPaid == 'Yes'">
                    <div class="form-group">
                        <label class="control-label">Admin Percentage (%)</label>
                        <input name="AdminPercent" ng-model="custom.AdminPercent" placeholder="Admin Charges in Percentage"  ng-init="custom.AdminPercent = '10'" type="text" class="form-control numeric" maxlength="3" ng-if="IsPaid == 'Yes'">
                    </div>
                </div>
                <div class="col-md-4" ng-if="IsPaid == 'Yes'">
                    <div class="form-group">
                        <label class="control-label">Bonus Contribution (%)</label>
                        <input name="CashBonusContribution" ng-model="CashBonusContribution.Contribution" placeholder="Cash Bonus Contribution in Percentage" type="text" class="form-control numeric" value="0" maxlength="3" ng-if="IsPaid == 'Yes'">
                    </div>
                </div>
                <div class="col-md-4" ng-if="IsPaid == 'Yes'" >
                    <div class="form-group">
                        <label class="control-label">Entry Fee</label>
                        <input name="EntryFee" ng-model="EntryFee.fee" type="text" placeholder="0" class="form-control numeric" value="" maxlength="40">
                    </div>
                    <small><span ng-model="TotalDistribution" ng-if="SmartCustom.SmartPool == 'Yes' && UnfilledWinningPercent == 'Fixed'">Total Distribution: {{TotalDistribution}}</span></small>
                    <small><span ng-if="SmartCustom.SmartPool == 'No' && UnfilledWinningPercent == 'GuranteedPool'">Total Distribution: {{WinUpTo + ' x ' + EntryFee.fee + '= ' + TotalDistribution}}</span></small>
                </div>
                 <div class="col-md-4" ng-if="WinningType != 'PrizePool' " >
                    <div class="form-group">
                        <label class="control-label">PerKill</label>
                        <input name="PerKill" ng-model="PerKill" type="text" class="form-control" placeholder="0" value="" readonly="readonly" maxlength="40">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Private Game?</label>
                        <select id="Privacy" ng-model="Privacy" name="Privacy" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select this option notifiy that game is public or private.</small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Maximum Team Allowed</label>
                        <input name="UserJoinLimit" ng-model="UserJoinLimit" placeholder="League Join Limit" type="text" class="form-control numeric">
                    </div>
                </div>
                <input type="hidden" name="ShowJoinedTournament" value="Yes">
                <input type="hidden" name="TournamentType" value="Hot" ng-model="TournamentType">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Confirm Tournament</label>
                        <select id="IsConfirm" name="IsConfirm" ng-model="IsConfirm" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                        <small>Select option to notify Tournament is confirm Tournament or not.</small>
                    </div>
                </div>
                <input type="hidden" id="IsAutoCreate" name="IsAutoCreate" ng-model="IsAutoCreate" value="No" />
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Customize Winnings</label>
                        <!-- <input type="checkbox" ng-model="custom.winnings" ng-click="customizeWin()" > -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showTournamentSize" ng-if="WinningType != 'PerKill'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="custom.NoOfWinners"  name="NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div ng-show="showField" class="creatcontast_list">
                        <p><b>Remaining Percent :</b> {{remainingPercentage}}</p>
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Winning %</th>
                                    <th>Winning Amount</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    {{number}}
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-change="changePercent($index); Check($index);" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{r.To}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <label>Percent</label> <input type="text" ng-model="r.percent" name="percent" class="form-control" ng-change="changePercent($index)" valid-number>
                                    </td>
                                    <td><label>Amount</label> <input type="text" class="form-control" ng-model="r.amount" ng-change="changeAmount($index)"></td>

                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="percent_error">*Percent field is required</div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>
                </div>
            </div>
            <div class="row" ng-show="showTournamentSize" ng-if="SmartCustom.SmartPool == 'Yes'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="custom.NoOfWinners"  name="NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div ng-show="showField" class="creatcontast_list">
                        <table style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Prize</th>
                                    <th>Image</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    {{number}}
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{(r.To - r.From) + 1}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                        <label>Name</label>
                                        <select name="ProductGUID" ng-model="r.CategoryGUID" class="form-control" ng-change="getCategoryImage(r.CategoryGUID, $index)">
                                            <option value="">Please Select</option>
                                            <option ng-repeat="subCat in data.categoryList" value="{{subCat.CategoryGUID}}">{{subCat.CategoryName}}</option>
                                        </select>
                                    </td>
                                    <td>
                                        <img ng-src="" id="ProductImage{{$index}}" style="max-width: 100px;">
                                    </td>
                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm refresh" data-dismiss="modal" ng-click="pageRefresh()">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>
</div>


