<div class="modal-body">
    <div class="form-area">

        <form id="edit_form" name="edit_form" autocomplete="off" >

            <div class="row">

                  <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Game Type</label>
                                <select id="GameType" ng-model="formData.GameType" name="GameType" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Solo" ng-selected='formData.GameType == "Solo" ? "true" : "false"'>Solo</option>
                                        <option value="Duo" ng-selected='formData.GameType == "Duo" ? "true" : "false"'>Duo</option>
                                        <option value="Squad" ng-selected='formData.GameType == "Squad" ? "true" : "false"'>Squad</option>
                                </select>
                        </div>
                </div>
                <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Game Version</label>
                                <select id="GameVersion" ng-model="formData.GameVersion" name="GameVersion" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="TPP" ng-selected='formData.GameVersion == "TPP" ? "true" : "false"'>TPP</option>
                                        <option value="FPP" ng-selected='formData.GameVersion == "6" ? "true" : "false"'>FPP</option>
                                </select>
                        </div>
                </div>
                 <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Map</label>
                                <select id="Map" ng-model="formData.Map" name="Map" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Erangel"  ng-selected='formData.Map == "Erangel" ? "true" : "false"'>Erangel</option>
                                        <option value="Miramar"  ng-selected='formData.Map == "Miramar" ? "true" : "false"'>Miramar</option>
                                        <option value="Vikendi"  ng-selected='formData.Map == "Vikendi" ? "true" : "false"'>Vikendi</option>
                                        <option value="Sanhok"  ng-selected='formData.Map == "Sanhok" ? "true" : "false"'>Sanhok</option>
                                         <option value="TDM"  ng-selected='formData.Map == "TDM" ? "true" : "false"'>TDM</option>
                                </select>
                        </div>
                </div>
                <input type="hidden" name="GameTimeLive" id="GameTimeLive" ng-model="formData.GameTimeLive" value="formData.GameTimeLive">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Game Name</label>
                        <input name="TournamentName" ng-model="formData.TournamentName" type="text" class="form-control" placeholder="Tournament Name" value="{{formData.TournamentName}}"  maxlength="40">
                    </div>
                </div>
                <!--<div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Game Schedule</label>
                        <input name="LeagueJoinDateTime" ng-model="formData.LeagueJoinDateTime"  id="LeagueJoinDateTime" readonly="" ng-model="LeagueJoinDateTime" type="text" class="form-control" value="{{formData.GameSchedule}}">
                        <small>Set league join date time on which time user can create a team.</small>
                    </div>
                </div>-->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Start Date/Time</label>
                        <input name="StartDateTime" id="StartDateTime" ng-model="formData.StartDateTime" readonly="" ng-model="StartDateTime" type="text" class="form-control" value="{{formData.StartDateTime}}">
                        <!-- <small>Set league join date time on which time user can create a team.</small> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">End Date/Time</label>
                        <input name="EndDateTime" id="EndDateTime" ng-model="formData.EndDateTime" readonly="" ng-model="EndDateTime" type="text" class="form-control" value="{{formData.EndDateTime}}">
                        <!-- <small>Set league join date time on which time user can create a team.</small> -->
                    </div>
                </div>
                
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Paid Tournament?</label>
                        <select id="IsPaid" ng-model="formData.IsPaid" name="IsPaid" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes" ng-selected="formData.IsPaid == 'Yes' ? 'true' : 'false'">Yes</option>
                            <option value="No" ng-selected="formData.IsPaid == 'No' ? 'true' : 'false'">No</option>
                        </select>
                      <!--   <small>Select this option notifiy that Tournament is free or paid.</small> -->
                    </div>
                </div>
<!--                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Game Cover Image</label>
                        <select id="MainTopBannerImage" ng-model="MainTopBannerImage" name="MainTopBannerImage" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="SoloBanner" ng-selected="formData.MainTopBannerImage == 'SoloBanner' ? 'true' : 'false'">solo banner img</option>
                            <option value="DualBanner" ng-selected="formData.MainTopBannerImage == 'DualBanner' ? 'true' : 'false'">dual banner img</option>
                            <option value="SquadBanner" ng-selected="formData.MainTopBannerImage == 'SquadBanner' ? 'true' : 'false'">squad banner img</option>
                            <option value="FreeFire" ng-selected="formData.MainTopBannerImage == 'FreeFire' ? 'true' : 'false'">Free Fire</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Game Rule</label>
                        <select id="GameRule" ng-model="formData.GameRule" name="GameRule" class="form-control">
                            <option value="">Please Select</option>
                            <option value="SoloRule" ng-selected="formData.GameRule == 'SoloRule' ? 'true' : 'false'">solo game rule</option>
                            <option value="DualRule" ng-selected="formData.GameRule == 'DualRule' ? 'true' : 'false'">dual game rule</option>
                            <option value="SquadRule" ng-selected="formData.GameRule == 'SquadRule' ? 'true' : 'false'">squad game rule</option>
                        </select>
                    </div>
                </div>
                 <div class="col-md-4">
                        <div class="form-group">
                                <label class="filter-col" for="ParentCategory">Platform</label>
                                <select id="Platform" ng-model="formData.Platform" name="Platform" class="form-control chosen-select">
                                        <option value="">Please Select</option>
                                        <option value="Mobile" ng-selected="formData.Platform == 'Mobile' ? 'true' : 'false'">Mobile</option>
                                        <option value="Desktop" ng-selected="formData.Platform == 'Desktop' ? 'true' : 'false'">Desktop</option>
                                        <option value="Lite" ng-selected="formData.Platform == 'Lite' ? 'true' : 'false'">Lite</option>
                                        <option value="Playstation" ng-selected="formData.Platform == 'Playstation' ? 'true' : 'false'">Playstation</option>
                                        <option value="Xbox" ng-selected="formData.Platform == 'Xbox' ? 'true' : 'false'">Xbox</option>
                                </select>
                        </div>
                </div>
                 <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Winning Type</label>
                        <select id="WinningType" ng-model="formData.WinningType" name="WinningType" class="form-control">
                            <option value="">Please Select</option>
                            <option value="PerKill" ng-selected="formData.WinningType == 'PerKill' ? 'true' : 'false'">Per Kill</option>
                            <option value="PrizePool" ng-selected="formData.WinningType == 'PrizePool' ? 'true' : 'false'">Prize Pool</option>
                            <option value="Both" ng-selected="formData.WinningType == 'Both' ? 'true' : 'false'">Both</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4" ng-if="formData.WinningType != 'PrizePool'  ">
                    <div class="form-group">
                        <label class="control-label">PerKill</label>
                        <input name="PerKill" ng-model="formData.PerKill" type="text" class="form-control" placeholder="0" value="{{formData.PerKill}}" maxlength="40" >
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Winning Amount</label>
                        <input name="WinningAmount" ng-model="custom.WinningAmount" placeholder="Winning Amount" type="text" class="form-control numeric" value="{{formData.WinningAmount}}" >
                    </div>
                </div>  
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label">Tournament Size</label>
                        <input name="TournamentSize" ng-model="custom.TournamentSize" type="text" class="form-control integer" value="{{formData.TournamentSize}}" >
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label">Group Size</label>
                        <input name="GroupSize" ng-model="custom.GroupSize" type="text" class="form-control integer" value="{{formData.GroupSize}}" >
                    </div>
                </div>
                <div class="col-md-4" >
                    <div class="form-group">
                        <label class="control-label">Round Size</label>
                        <input name="RoundSize" ng-model="custom.RoundSize" type="text" class="form-control integer" value="{{formData.RoundSize}}" >
                        <input type="hidden" name="Round_Size" ng-model="custom.TournamentSize" value="1" >
                    </div>
                </div>

                <input type="hidden" name="TournamentSize" ng-if="formData.TournamentFormat == 'Head to Head'" ng-model="custom.TournamentSize" value="2">

                <div class="col-md-4" ng-if="formData.IsPaid == 'Yes' && formData.SmartPool == 'No'">
                    <div class="form-group">
                        <label class="control-label">Admin Percentage (%)</label>
                        <input name="AdminPercent" ng-model="custom.AdminPercent" placeholder="Admin Charges in Percentage" type="text" class="form-control numeric" maxlength="3" value="{{formData.AdminPercent}}">
                    </div>
                </div>
                <div class="col-md-4" ng-if="formData.IsPaid == 'Yes'" ng-init="CashBonusContribution = 0" >
                    <div class="form-group">
                        <label class="control-label">Bonus Contribution (%)</label>
                        <input name="CashBonusContribution" ng-model="formData.CashBonusContribution" placeholder="Cash Bonus Contribution in Percentage" type="text" class="form-control numeric" value="0" maxlength="3" ng-if="formData.IsPaid == 'Yes'">

                    </div>
                </div>
                <div class="col-md-4" ng-if="formData.IsPaid == 'Yes'" >
                    <div class="form-group">
                        <label class="control-label">Entry Fee</label>

                        <!-- <input name="EntryFee" ng-model="formData.EntryFee" type="text" placeholder="0" class="form-control numeric" value="{{EntryFee}}" maxlength="40" ng-if="formData.IsPaid=='Yes'" readonly> -->
                        <input name="EntryFee" ng-model="EntryFee.fee" type="text" placeholder="0" class="form-control numeric" value="{{EntryFee.fee}}" maxlength="40" ng-readonly="(formData.SmartPool == 'Yes' || formData.UnfilledWinningPercent == 'GuranteedPool') ? false : true">
                        <!-- <input name="EntryFee" ng-model="formData.EntryFee" type="text" placeholder="0" ng-init="EntryFee='0'" class="form-control numeric" value="{{EntryFee}}" maxlength="40" ng-if="formData.IsPaid=='No'" readonly> -->
                        <small><span ng-if="SmartCustom.SmartPool == 'No' && formData.UnfilledWinningPercent == 'GuranteedPool'">Total Distribution: {{WinUpTo + ' x ' + EntryFee.fee + '= ' + TotalDistribution}}</span></small>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Is Private Game?</label>
                        <select id="Privacy" ng-model="formData.Privacy" name="Privacy" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes" ng-selected="formData.Privacy == 'Yes' ? 'true' : 'false'">Yes</option>
                            <option value="No" ng-selected="formData.Privacy == 'No' ? 'true' : 'false'">No</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Maximum Team Allowed</label>
                        <input name="UserJoinLimit" ng-model="formData.UserJoinLimit" placeholder="League Join Limit" type="text" class="form-control numeric">
                    </div>
                </div>
                <input type="hidden" name="TournamentID" value="{{formData.TournamentID}}">
                <input type="hidden" name="TournamentGUID" value="{{formData.TournamentGUID}}">
                <input type="hidden" name="ShowJoinedTournament" value="Yes">
                <input type="hidden" name="SmartPool" value="{{SmartCustom.SmartPool}}">
                <input ng-if="formData.TournamentFormat == 'Head to Head'" type="hidden" name="TournamentType" value="Head to Head" ng-model="formData.TournamentType">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Confirm Tournament</label>
                        <select id="IsConfirm" name="formData.IsConfirm" ng-model="formData.IsConfirm" class="form-control chosen-select">
                            <option value="">Please Select</option>
                            <option value="Yes" ng-selected='formData.IsConfirm == "Normal" ? "true" : "false"' >Yes</option>
                            <option value="No" ng-selected='formData.IsConfirm == "Normal" ? "true" : "false"' >No</option>
                        </select>
                        <small>Select yes for multiple and no for single.</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label class="filter-col" for="ParentCategory">Customize Winnings</label>
                        <!-- <input type="checkbox" ng-model="custom.winnings" ng-click="customizeWin()" > -->
                    </div>
                </div>
            </div>
            <div class="row" ng-show="showTournamentSize" ng-if="formData.WinningType != 'PerKill'">
                <div class="col-md-10">
                    <div class="form-group">
                        <input type="text" class="form-control" name="NoOfWinners" ng-model="custom.NoOfWinners" ng-change="changeWinners()" >
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <a href="javascript:void(0)" class="btn btn-secondary btn-sm" ng-click="Showform()" >Set</a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="creatcontast_list">
                        <p><b>Remaining Percent :</b> {{remainingPercentage}}</p>
                        <table style="width: 100%; ">
                            <thead>
                                <tr>
                                    <th>Rank</th>
                                    <th>Winning %</th>
                                    <th>Winning Amount</th>
                                    <th><button class="btn btn-submit" type="button" ng-click="addField()" >+</button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="r in custom.choices">
                                    <td>
                                        <table>
                                            <tr>
                                                <td>
                                                    <label>From</label><select class="form-control" ng-model="r.From" ng-options="number for number in r.numbers" ng-selected="" disabled="true"></select>
                                                </td>
                                                <td>
                                                    <label>To</label><select class="form-control"  ng-init="DataForm.To = r.numbers[0]" ng-change="changePercent($index); Check($index);" ng-model="r.To" ng-options="number for number in r.numbers"></select>
                                                </td>
                                                <td style="width: 50px;" >
                                                    <label>Winners</label>
                                                    <input type="text" value="{{r.To}}" class="form-control" readonly="true">  
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td>
                                    <label>Percent</label> <input type="text" ng-model="r.percent" name="percent" class="form-control" ng-change="changePercent($index)" valid-number>
                                    </td>
                                    <td><label>Amount</label> <input type="text" class="form-control" ng-model="r.amount"></td>
                                    <td><button type="button" class="btn btn-submit" ng-click="removeField($index)">-</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="color:red" ng-show="percent_error">*Percent field is required</div>
                    <div style="color:red" ng-show="calculation_error">*{{calculation_error_msg}}</div>

                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
    <button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="editData()">Save</button>
</div>


