<div class="modal-body">
	<div class="form-area">
		<form id="update_form" name="update_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-12" style="text-align: center; margin-bottom: 10px;">
					<div class="form-group">
						<center><h3>{{formData.TournamentName}}</h3></center>
					</div>
				</div>
			</div>

			<hr>
			<div class="row">
				<div class="col-md-7">
					<input type="hidden" name="TournamentID" value="{{formData.TournamentID}}">
                <input type="hidden" name="TournamentGUID" value="{{formData.TournamentGUID}}">
                    <div class="form-group" ng-show="formData.Status=='Pending'">
                        <label class="control-label">Game Start Date/Time</label>
                        <input name="StartDateTime" id="StartDateTime" readonly="" ng-model="formData.StartDateTime" type="text" class="form-control" value="{{formData.StartDateTime}}">
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group" ng-show="formData.Status=='Pending'">
                        <label class="control-label">Game Start Date/Time</label>
                        <input name="EndDateTime" id="EndDateTime" readonly="" ng-model="formData.EndDateTime" type="text" class="form-control" value="{{formData.EndDateTime}}">
                    </div>
                </div>
				<div class="col-md-7">
					<div class="form-group">
						<label class="control-label">Status</label>
						<select name="Status" id="Status" ng-model="formData.Status" class="form-control chosen-select">
							<option value="">Please Select</option>
							<option value="Pending" ng-selected="formData.Status=='Pending'">Pending</option>
							<option value="Running" ng-selected="formData.Status=='Running'" >Running</option>
							<option value="Completed" ng-selected="formData.Status=='Completed'" >Completed</option>
							<option value="Cancelled" ng-selected="formData.Status=='Cancelled'">Cancelled</option>
							<option value="Deleted" ng-selected="formData.Status=='Deleted'">Deleted</option>
						</select>
					</div>
				</div><input type="hidden" name="TournamentGUID" value="{{formData.TournamentGUID}}">
				<div class="col-md-7" ng-show="formData.Status=='Pending'">
                    <div class="form-group">
                        <label class="control-label">Room ID</label>
                        <input name="RoomID" ng-model="formData.RoomID" type="text" class="form-control" value="formData.RoomID">
                    </div>
                </div>
                <div class="col-md-7" ng-show="formData.Status=='Pending'">
                    <div class="form-group">
                        <label class="control-label">Room Password</label>
                        <input name="RoomPassword" ng-model="formData.RoomPassword" type="text" class="form-control" placeholder="******" value="formData.RoomPassword">
                    </div>
                </div>
                 <div class="col-md-7" ng-show="formData.Status=='Running'">
                    <div class="form-group">
                        <label class="control-label">Video URl</label>
                        <input name="VideoURL" ng-model="formData.VideoURL" type="text" class="form-control" placeholder="https://www.youtube.com/watch?v=9xwazD5SyVg" value="formData.VideoURL">
                    </div>
                </div>
			</div>
			<!-- hidden parameters -->
			
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editStatus(formData.Status,formData.TournamentGUID,formData.TournamentID,formData.RoomID,formData.RoomPassword,formData.GameSchedule,formData.VideoURL)">Save</button>
</div>


