.comm_title {
    position: relative;
    font-size: 1.6em;
    font-weight: 600;
}
.comm_title::after {
    content: "";
    border-bottom: 1px solid #aaa;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 100%;
}

.btnPrimary {
    background: var(--primaryClr) !important;
    padding: 12px 20px !important;
    border: .5px solid #dededed9 !important;
    font-size: 14px !important;
    font-weight: 600;
    transition: all ease .3s;
    color: #fff !important;
    scroll-behavior: smooth;
    display: inline-block !important;
    line-height: 15px;
    min-width: 150px;
    text-transform: uppercase;
}
.btnPrimary:hover {
    transform: scale(1.1);
}

.featureSec ul li {
    text-align: center;
    margin-top: 30px;
}

.featureSec ul li:hover img {
    transform: scale(1.2);
}
.featureSec ul li img {
    margin-bottom: 20px;
    transition: all 0.3s linear 0s;
}
.featureSec ul li p {
    font-size: 14px;
    font-weight: 600;
}

/*--------- Upcoming Matches Css -----------------*/

.upcomingMatches .slider_item {
    box-shadow: 0 1px 5px #aaa;
}
.slider_item {
    background: repeating-linear-gradient(130deg, #f4f4f4, #fff 185px);
    border-radius: 5px;
    color: #000;
    text-align: center;
    padding: 5px;
    transition: all 0.3s ease-in 0s;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    transition: all 0.3s linear 0s;
}
.slider_item:hover, .slider_item.active {
    background: var(--primaryClr);
    color: #fff;
}
.slider_item h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 5px;
}
.slider_item figure {
    background-color: #e2e2e2;
    border-radius: 50%;
    border: 1px solid transparent;
    height: 65px;
    width: 65px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.slider_item figure img {
    width: 48px;
}
.slider_item h4 {
    font-size: 16px;
    font-weight: 600;
    margin-top: 5px;
}
.d_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#demo {
    display: flex;
}
#demo span {
    display: flex;
    flex-direction: column;
    width: 40px;
    font-size: 13px;
}

/*-------------- How to play Section css ----------*/

.aboutus-banner {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #fff;
    box-shadow: 1px 2px 5px #aaa;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.play_video_icon i {
    color: var(--primaryClr);
}

.how-to-play-box .clearfix {
    display: flex;
    margin-bottom: 10px;
}
.iconset span {
    font-size: 40px;
    margin-right: 30px;
    color: var(--primaryClr);
    font-weight: 600;
}
.how-to-play .how-to-play-box .feature-content h4 {
    color: #000;
    font-size: 18px;
    letter-spacing: 0;
    margin: 0 0 5px;
    font-weight: 600;
}
.how-to-play .how-to-play-box .feature-content p {
 /*   font-size: 18px;*/
    opacity: 0.7;
}
/*.ripple {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65px;
    height: 65px;
}
.ripple:before, .ripple:after {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: rip 5s infinite ease-out;
    border: 1px solid var(--primaryClr);
    left: 0;
    top: 0;
}
.ripple:after {
    animation-delay: 1s;
}
.play_video_icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    cursor: pointer;
}*/

/*-------------- Download App Section Css ---------------*/
.downloadapp {
    width: 100%;
    /* height: calc(100vh - 0px); */
    background-image: url('../img/bg.png');
    height: 100%;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    position: relative;
}
.downloadapp h3 {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
}
.downloadapp h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
    margin: 20px 0;
}

.news_letter_form {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.news_letter_form .form-control {
    width: 55%;
}
.news_letter_form .btn {
    background-color: var(--primaryClr);
    border-radius: 0;
    padding: 0 40px;
    font-weight: 400;
    transition: all 0.4s ease-in 0s;
    color: #fff;
}
.news_letter_form .btn:hover {
    background-color: var(--primaryClr);
}
.black_downloads {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.black_downloads li a {
    height: 50px;
    text-decoration: none;
    border: 1px solid transparent;
    transition: all 0.2s ease-in 0s;
    background-color: var(--primaryClr);
    min-width: 200px;
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-weight: 600;
    border-radius: 6px;
}
.black_downloads img {
    cursor: pointer;
    width: 35px;
    margin-right: 15px;
}
.black_downloads a .text .small {
    display: block;
}
.black_downloads a .text {
    border-left: 1px solid #aaa;
    padding-left: 20px;
}

/*------------- Testimonial Css ----------------*/

.testimonial h2 {
    color: #000;
    font-size: 26px;
    font-weight: 300;
    text-align: center;
    position: relative;
    margin: 30px 0 60px;
}
.testimonial h2::after {
    content: "";
    width: 100px;
    position: absolute;
    margin: 0 auto;
    height: 4px;
    border-radius: 1px;
    background: #1abc9c;
    left: 0;
    right: 0;
    bottom: -20px;
}
.carousel {
    margin: 0 auto;
    padding: 0 70px;
}
.carousel .item {
    color: #999;
    overflow: hidden;
    min-height: 120px;
    font-size: 13px;
}
.carousel .media {
    position: relative;
    padding: 0 0 0 20px;
}
.carousel .media img {
    width: 75px;
    height: 75px;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial-wrapper {
    padding: 0 10px;
}
.carousel .testimonial {
    color: #808080;
    position: relative;
    padding: 15px;
    background: #fff;
    border: 1px solid #efefef;
    border-radius: 3px;
    margin-bottom: 15px;
    font-size: 16px;
}
.carousel .testimonial::after {
    content: "";
    width: 15px;
    height: 15px;
    display: block;
    background: #fff;
    border: 1px solid #efefef;
    border-width: 0 0 1px 1px;
    position: absolute;
    bottom: -8px;
    left: 46px;
    transform: rotateZ(-46deg);
}
.carousel .star-rating li {
    padding: 0 2px;
}
.carousel .star-rating i {
    font-size: 16px;
    color: #ffdc12;
}
.carousel .overview {
    padding: 3px 0 0 15px;
}
.carousel .overview .details {
    padding: 0;
    font-size: 14px;
    color: #000;
    margin-bottom: 5px;
}
.carousel .overview b {
    text-transform: capitalize;
    color: var(--primaryClr);
    font-size: 20px;
}
.carousel .carousel-indicators {
    bottom: -70px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin: 1px 2px;
}
.carousel-indicators li {   
    background: #e2e2e2;
    border: 4px solid #fff;
}
.carousel-indicators li.active {
    color: #fff;
    background: var(--primaryClr);
    border: 5px double;    
}