@media (max-width: 767px){
	.social_menu {
	    text-align: center;
	}
	.social_media a{
		font-size: 11px;
	}
	.social_media li {
	    margin-left: 5px;
	}
	.site-logo img {
	    max-width: 150px;
	}
	.home_banner button {
	    font-size: .9em;
	    padding: 11px 13px;
	}
	.home_banner h2{
			font-size: 2.7em;
	}
	.home_banner h1{
	    font-size: 2.5em;
	 }	
	.vertical_text {
	    padding: 18px 4px;
	    margin-right: 11px;
	    font-size: 16px;
	    margin-bottom: 10px;
	    letter-spacing: 4px;
	}
	.home_content.text-white {
	    padding: 50px 0;
	}
	.home_banner aside {
	    align-items: flex-end;
	}
	.home_banner button{
		padding: 8px 13px;
	}
	.home_banner input{
		height: unset;
		padding: 5px 10px;
	}
	.copyright{
		font-size: 14px;
	}
	.site_form {
	    padding: 30px;
	}
	.site_header{
		padding: 15px !important;
		background-color: var(--textClr);
	}
	.site-footer .socialIcons h6{
		text-align: center;
	}
	.table thead th{
    	border: 1px solid #ececec !important;
	}
	.table tbody tr td{
		border: 1px solid #ececec;
	}
	/************ draft-line Start ************/
	.list-unstyled.draft_team_list {
    	padding-left: 15px;
	}
	/************ draft-line End ************/

	.navbar-expand-lg .navbar-nav .dropdown-menu {
	    left: 68px;
	}
	.header_profile_menu .dropdown-menu:before {
		left: 33%;
	}
	.res_noti {
	    left: 108px !important;
	}
	.res_noti::before {
	    left: 63px !important;
	}
	.profile_header .btn_sm_primary {
    	padding: 6px 10px;
	}
	.pointHead ul li:first-child, .pointBody ul li:first-child {
        flex-basis: 83%;
    }
    .pointBody ul li, .pointHead ul li {
      flex: 0 0 17%;
      padding: 10px 8px;
    }
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-72%) translateY(0%) rotate(39deg);
    }
    .myAccount .border-right{
		padding-right: 5px;
	}
	.transictionOption .nav.nav-tabs .nav-link{
	    padding: 5px 10px;
	}
	.transactionDeatils, .withdrawalDetails {
    	display: block !important;
	}
	.transactionStatus, .withdrawalStatus {
    	float: right;
        margin-bottom: 5px;
	}
	.transictionOption table{
	    min-width: 780px;
	}
	.verify_accounts_content {
	    padding: 20px !important;
	}

}
@media (max-width: 991px){
	.comman_heading h2 {
        font-size: 2.45em; }
    .burger {
        padding-bottom: 80px;
        padding-top: 80px; }

    .t-burger {
        padding-top: 50px; }

    .b-burger {
        padding-bottom: 50px; }
	/************ my-contest Start ************/
    .myContest .league-tab a.btn_sm_primary:first-child{
	    margin-left: 35px !important;
	    margin-bottom: 5px;
    }
	/************ my-contest End ************/
	/************ draft-line Start ************/
	.selectPlayer{
		margin-top: 90px;
	}
	#navbarSupportedContent{
		background:  var(--textClr);
	}
	.header_profile_menu{
		float: left;
		margin-top: 10px;
	    margin-bottom: 10px;
	    display: -webkit-inline-box;
	}
	.header_profile_menu .nav-item{
		margin-bottom: 5px;
	}
	.header_profile_menu .nav-item:last-child{
		position: absolute;
		bottom: 10px;
		right: 25px;
	}
	ul.primary_menu > li{
    	margin-left: 20px;
	}
	ul.primary_menu > li > a{
	    padding-bottom: 3px;
	}
	.navIconSec {
    	padding-left: 15px !important;
        margin-top: -1px;
	}
	/************ draft-line End ************/
	/************ dfs-lineup Start ************/
	.dfsLineupSP {
    	margin-top: 80px;
	}
	/************ dfs-lineup End ************/
	/************ Invite-freind Start ************/
	.inviteToFill{
		padding-left: 30px !important;
		margin-top: 10px !important;
	}
	/************ Invite-freind End ************/
	/************ Invite-freind Start ************/
	form.search_form input {
    	width: 100% !important;
	}
	/************ Invite-freind End ************/
	/************ Lobby Start ************/
	.lobby .shadow_box_sm {
    	margin-top: 25px;
	}
	/************ Lobby End ************/
	/************ select-player Start ************/
	.selectPlayer .selectPserchP {
    	margin-top: 90px !important;
	}
	/************ select-player End ************/
}

@media (max-width: 1024px ){
.site-logo img{
		width: 100%;		
	}
}
@media (max-width: 575px ){
	/************ create-own-league Start ************/
	.creatLeague, .your{
	    margin: 0 10px;
	}
	/************ create-own-league End ************/
	/************ my-contest Start ************/
	.league-tab .nav-link{
	    padding: 8px 7px;
	}
	.league-tab .outOf3{
		margin-left: 2px !important;
	}
	.league-tab thead th, .league-tab tbody{
		font-size: 13px;
	}
	/************ my-contest End ************/
	/************ Invite-freind Start ************/
	.emailLastSent{
		margin: 0 10px;
	}
	.emailLastSent .row{
		margin: 0 !important;
	}
	/************ Invite-freind End ************/
	/************ draft-line Start ************/
	.slick-prev{
    	left: -15px;
	}
	.slick-next {
    	right: -15px;
	}
	.bg-img.pt-10{
		padding-top: 7em !important;
	}
	/************ draft-line End ************/
	/************ dfs-lineup Start ************/
	.custom_select{
	    padding: 0 0px !important;
	}
	/************ dfs-lineup End ************/
	/************ Invite-freind Start ************/
	.lobby form.search_form input {
    	width: 100% !important;
    	margin-top: 20px;
	}
	.lobby form .fas{
    	padding-top: 22px;
	}
	/************ Invite-freind End ************/
	/************ Lobby Start ************/
	.lobby .slick-initialized{
    	padding: 0 14px !important;
	}
	.lobby .slick-slider .slick-prev {
    	left: 0px;
	}
	.lobby .slick-slider .slick-next {
		right: 0px;
	}
	/************ Lobby End ************/
	/************ playerStatus Start ************/
	.playerStatus .fantasy-point{
		margin-top: 20px;
	}
	.playerStatus .profile{
		border-bottom: 1px solid #bebebe;
		padding-bottom: 10px;
	}
	/************ playerStatus End ************/
	/*********** profile Start ***********/
	.profile_page {
		margin-top: 35px;
	}
	/*********** profile End ***********/
	/*********** signup Start ***********/
	.signup .d-flex{
		display: block !important;
	}
	/*********** signup End ***********/

}
@media (max-width: 480px ){
	/************ draft-line Start ************/
	.panel-body .header-list .btn_sm_secondary{
	    padding: 5px;
        font-size: 12px;
	}
	.dfsLineUp a.btn_sm_primary{
	    padding: 5px 2px !important;
    	margin-right: 5px !important;
	}
	/************ draft-line End ************/
	/************ dfs-lineup Start ************/
	.dfsLineupSP {
    	margin-top: 100px !important;
	}
	/************ dfs-lineup End ************/
	/************ Lobby Start ************/
	.lobbyEPL a{
       padding: 6px 7px;
	}
	/************ Lobby End ************/
	/************ My-league Start ************/
	.myLeague figure img {
	    min-width: 30px;
	}
	/************ My-league End ************/
	/************ Select-player Start ************/
	.selectPlayer .btn_sm_primary{
	    padding: 6px 0px;
	}
	/************ Select-player End ************/
	/*********** profile Start ***********/
	.profile_form .form-group {
    	display: block;
	}
	.profile_form label {
    	min-width: 100px;
	}
	.profile_form .form-group .form-control {
	    width: 240px;
	    padding: 0.375rem 0.5rem;
	}
	/*********** profile End ***********/
	/*********** profile2 Start ***********/
	.res_mt_15{
		    margin-top: 15px;
		}
	.home_banner {
		min-height: 100vh;
	}
	.home_banner h2 {
		font-size: 2em;
	}
	.btnPrimary {
		font-size: 12px !important;
		margin-bottom: 15px;
		margin-right: 0 !important;
	}
	.burger {
		padding: 30px 0;
	}
	.comm_title {
		font-size: 1em;
		text-align: center;
	}
	/*********** profile2 End ***********/
}
@media (max-width: 380px ){
	/************ create-own-league Start ************/
	.creatLeague .form-control{
	    padding: .375rem 0rem;
	}
	/************ create-own-league End ************/
	/************ my-contest Start ************/
	.myContestSearch  {
		flex-direction: column;
	}
	.myContest form.search_form button{
	    top: 47px;
	}
	.myContest form.search_form input{
	    margin-bottom: 10px !important;
	}
	.league-tab .nav-link{
	    padding: 8px 9px;
	}
	.league-tab a.nav-link:nth-child(2){
	    margin-right: 0 !important;
	}
	/************ my-contest End ************/
	/************ draft-line Start ************/
	.custom_select{
	    padding: 0 2px !important;
        font-size: 12px;
	}
	.panel-header strong{
	    font-size: 14px;
    	font-weight: 600;
	}
	.leaderboard-head h3 {
	    font-size: 15px;
	}
	/************ draft-line End ************/
	/************ My-league Start ************/
	.myLeague .league-tab a.nav-link:nth-child(2) {
    	margin-right: 10px !important;
	}
	/************ My-league End ************/
	/************ playerStatus Start ************/
	.playerStatus h4.matchStatus{
		font-size: 18px;
	}
	/************ playerStatus End ************/

	/*********** profile Start ***********/
	.profile_form .form-group .form-control {
	    width: 180px;
	    padding: 0.375rem 0.5rem;
	}
	.profile_header .btn_sm_primary,.profile_form .form-group .btn_sm_primary {
    	padding: 6px 5px;
	}
	/*********** profile End ***********/
	
}
@media (max-width: 322px){
	/************ dfs-lineup Start ************/
	.dfsLineupSP{
    	margin-top: 130px !important;
    }
    .creatLeague h3{
	    font-size: 1.5rem;
    }
    .custom_select {
	    padding: 0 !important;
	    font-size: 11px !important;
	}
    /************ dfs-lineup End ************/
}
@media (max-width: 300px ){
	/************ my-contest Start ************/
	.league-tab a.nav-link:first-child{
	    margin-right: 0 !important;
	}
	.league-tab .nav-link{
	    padding: 8px 25px;
	}
	.header_profile_menu {
	    padding-bottom: 35px !important;
	}
	.selectPlayer{
	    display: unset !important;
	    justify-content: unset !important;
	}
	/************ my-contest End ************/
	/************ Invite-freind Start ************/
	.emailLastSent .email, .emailLastSent .lastSent{
		font-size: 12px;
	}
	/************ Invite-freind End ************/
	/************ draft-line Start ************/
	.custom_select{
	    padding: 0 0px;
	}
	/************ draft-line End ************/
	/************ My-league Start ************/
	.myLeague .league-tab a.nav-link:nth-child(2) {
    	margin-right: 0 !important;
	}
	.myLeague .league-tab a.nav-link:first-child {
    	margin-right: 10px !important;
	}
	/************ My-league End ************/
}
@media screen and (max-width: 1199px) and (min-width: 1025px){
	/************ header Start ************/
	.site-logo img {
    	max-width: 150px;
	}
	ul.primary_menu > li {
    	margin-left: 10px;
	}
	/************ header End ************/
}
@media screen and (max-width: 1024px) and (min-width: 992px){
	/************ Lobby Start ************/
	.lobby .slick-slider .slick-prev {
    	left: -15px;
	}
	.lobby .slick-slider .slick-next {
		right: -15px;
	}
	/************ Lobby End ************/
}
@media screen and (max-width: 1199px) and (min-width: 992px){
	/************ header Start ************/
	.balance_menu span {
    font-size: 18px;
	}
	.header_profile_menu > li {
    	margin-left: 3px;
	}
	.header_profile_menu > li:not(.balance_menu) > a{
	    width: 30px;
    	height: 30px;
        line-height: 30px;
	}
	.navIconSec {
    	padding-right: 0;
	}
	/************ header End ************/
	/************ dfs-lineup Start ************/
	.custom_select{
	    padding: 0 0px !important;
	}
	/************ dfs-lineup End ************/
	/************ Lobby Start ************/
	.lobbyEPL .btn_sm_primary, .quickPick{
	    padding: 6px 7px;
	}
	/************ Lobby End ************/
}
@media (max-width: 991px) and (min-width: 768px){
	.header_profile_menu .dropdown-menu{
	    left: 263% !important;
	}
	.header_profile_menu .dropdown-menu:before{
		left: 29% !important;
	}
}
@media (max-width: 767px) and (min-width: 576px){
    .profile_header .btn_sm_primary {
    	padding: 6px 10px;
	}
	.dfsLineUp .custom_select{
	    margin: 0 2px;
	}
}

/*---------------- Point-System CSS Start ----------------*/
@media (max-width: 1199px){
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-62%) translateY(0%) rotate(39deg);
    }
}
@media (max-width: 992px){
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-68%) translateY(0%) rotate(39deg);
    }
    .myAccount .border-right{
		padding-right: 30px;
	}
	.transictionOption .nav.nav-tabs .nav-link{
	    padding: 5px 40px;
	}
}

@media (max-width: 575px){
    .pointSystem_content {
        padding: 0 !important;
    }
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-66%) translateY(0%) rotate(39deg);
    }
    .my_account_content{
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
	.transictionOption .nav.nav-tabs .nav-link {
    	padding: 5px 20px;
	}
}
@media (max-width: 480px){
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-70%) translateY(0%) rotate(39deg);
    }
    .transictionOption .nav.nav-tabs .nav-link:hover:after{
        transform: translateX(-20%) translateY(-25%) rotate(45deg);
    }
    .dfsLineUp .custom_select{
	    margin: 0 1px !important;
    }
}
@media (max-width: 420px){
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-73%) translateY(0%) rotate(39deg);
    }
}
@media (max-width: 380px){
    .transictionOption .nav.nav-tabs .nav-item {
        margin-bottom: 5px;
        width: 125px;
    }
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-59%) translateY(0%) rotate(39deg);
    }
    .transictionOption .nav.nav-tabs .nav-link:hover:after{
        transform: translateX(-15%) translateY(-35%) rotate(25deg);
    }
}
@media (max-width: 300px){
	.transictionOption .nav.nav-tabs{
        display: block;
        text-align: -webkit-center;
    }
    .transictionOption .nav.nav-tabs .nav-item {
        width: 150px;
    }
    .transictionOption .nav.nav-tabs .nav-link:after{
        transform: translateX(-63%) translateY(0%) rotate(45deg);
    }
}
/*---------------- Point-System CSS End ----------------*/
@media (max-width: 400px){
	.myAccount .addOption{
	    display: block !important; 
	}
	.myAccount .addOption a.btn{
    	margin: 10px 0px;
	}
	.transictionOption .nav.nav-tabs{
	    justify-content: space-around;
	}
	.transictionOption .nav.nav-tabs .nav-link {
    	padding: 5px;
	}
	.transictionOption .tab-content #transaction .form-control,
	.transictionOption .tab-content #withdrawal .form-control {
    	padding-right: 10px;
	}
}
/*---------------- My-Account CSS End ----------------*/

/*---------------- changePassword CSS Start ----------------*/
@media (max-width: 380px){
    .change_password_content{
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
}
/*---------------- changePassword CSS End ----------------*/