:root{
    --primaryClr: #E10000;  
    --dark_black: #1e1e1e;
    --textClr: #1c1c1c;
}
::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: var(--primaryClr);
}

::selection {
  color: #fff;
  background: var(--primaryClr);
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
/*@font-face{
    font-family: ConduitITC;
    src: url('../fonts/CONDUIT_ITC.TTF');
    font-weight: 400;
}
@font-face{
    font-family: ConduitITC;
    src: url('../fonts/CONDUIT_ITC_BOLD.TTF');
    font-weight: bold;
}
@font-face{
    font-family: ConduitITC;
    src: url('../fonts/ConduitITC-Bold.TTF');
    font-weight: 600;
}*/
body{
    font-family: 'Roboto', sans-serif;
    color: var(--textClr);
    font-size: 16px;
}
a, a:hover, a:active, a:focus{
    text-decoration: none;
}
/************** Loader Css Start ***********/
.loader-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.loader-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: loader-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loader-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes loader-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}
.loader-ripple {
    position: absolute;
    top: 50%;
    left: 50%;
}
.loader_wrapr {
    z-index: 999999;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0,0,0,0.9);
}

/********* Start Comm Css **********/
.themeClr, .themeClr a{
    color: var(--primaryClr);
}
.themebg {
    background-color: var(--primaryClr);
}
.flex_center {
    display: flex;
    align-items: center;
}
@media (min-width: 992px) {
    .comman_heading h2 {
        font-size: 2.45em; }
    .burger {
        padding-bottom: 50px;
        padding-top: 50px; }

    .guter {
        padding-left: 150px;
        padding-right: 150px; }

    .t-burger {
        padding-top: 80px; }

    .b-burger {
        padding-bottom: 80px; }
}
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}
.pt-10 {
    padding-top: 8em;
}
.btn_secondary, .btn_sm_secondary {
    background-color: var(--dark_black);
    color: #fff;
}
.btn_sm_secondary {
    position: relative;
    color: #fff !important;
}
.btn_secondary:hover, .btn_sm_secondary:hover {
/*    background-color: var(--primaryClr);*/
    z-index: 1;
}
.btn_sm_secondary:hover::after {
    transform: scale(1);
}
.btn_sm_secondary::after {
    content: "";
    background-color: var(--primaryClr);
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    transform-origin: center;
    transition: all 0.2s ease-out 0s;
    transform: scale(0);
    z-index: -1;
}
.btn_sm_primary:hover {
    color: var(--primaryClr);
    z-index: 1;
}
.btn_sm_primary {
    transform: all ease .3s;
   background-color: var(--primaryClr);
   color: #fff;
}
.btn_sm_primary:hover::after {
    transform: scale(1);
}
.btn_sm_primary::after {
    content: "";
    background-color: #FFF;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    transform-origin: center;
    transition: all 0.2s ease-in 0s;
    transform: scale(0);
    z-index: -1;
}
.blk_bg::after {
    background-color: #000;
}

.btn_sm_primary, .btn_sm_secondary, .btn_sm_border, .btn_sm_white {
    transform: all ease .3s;
    padding: 6px 14px;
    text-align: center;
    font-size: 1em;
    display: inline-block;
    border-radius: 3px;
    position: relative;
}
.btn_light {
    border: 1px solid #666;
    color: #fff;
    padding: 5px 10px;
    display: block;
    margin-bottom: 10px;
    border-radius: 3px;
    min-width: 120px;
    text-align: center;
    transition: all 0.3s linear 0s;
    position: relative;
}
.btn_light::after {
    content: "";
    background-color: var(--primaryClr);
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: all 0.3s linear 0s;
    z-index: -1;
}
.btn_light:hover::after {
      transform: scaleX(1);
}
.btn_light:hover {
    color: #fff;
    z-index: 1;
    border: 1px solid var(--primaryClr);
}
.custom-checkbox .custom-control-label::before{
    border-radius: 0;
}
.custom-control-input:checked~.custom-control-label::before{
        border-color: var(--primaryClr);
    background-color: var(--primaryClr);
}
.text_underline{
    text-decoration: underline;
}
.sortorder.reverse:after {
    content: '\f175';
    font-family: FontAwesome;
    font-size: 12px;
    padding: 5px;
}
.sortorder:after {
    content: '\f176';
    font-family: FontAwesome;
    font-size: 12px;
    padding: 5px;
}
.blk_bg:hover {
    background-color: #000;
}
.form-control:active, .form-control:focus {
    border: 1px solid var(--primaryClr);
    box-shadow: none;
    transition: all 0.4s linear 0s;
}
.myContest form.search_form input{
    width: 100% !important;
}
.inviteForm .form-group textarea {
    width: -webkit-fill-available;
}

/* Base for label styling */
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}

/* checkbox aspect */
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 1.5em; height: 1.5em;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 4px;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
/* checked mark aspect */
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
  content: '\2713\0020';
  position: absolute;
  top: 6px; left: .22em;
  font-size: 1.3em;
  line-height: 0.8;
  color: #000;
  transition: all .2s;
}
/* checked mark aspect changes */
[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
/* disabled checkbox */
[type="checkbox"]:disabled:not(:checked) + label:before,
[type="checkbox"]:disabled:checked + label:before {
  box-shadow: none;
  border-color: #bbb;
  background-color: #ddd;
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
/* accessibility */
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px solid var(--primaryClr);
}

/* hover style just for information */
label:hover:before {
  border: 2px solid var(--primaryClr)!important;
}
/*----------- End Comm css ------------*/

/* ------------------------ Header ------------------------ */
.site-logo {
    color: #fff;
    font-size: 28px;
}

.site_header {
    transition: all ease .3s;
    padding: 20px 0;
    background-color: #000;
}
.site_header.sticky_header {
    padding: 10px 0;
    background-color: var(--textClr);
}
.balance_menu span {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.balance_menu a {
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    width: 22px;
    color: var(--primaryClr);
    height: 22px;
    text-align: center;
    font-size: 13px;
    line-height: 22px;
    margin-left: 5px;
}
.balance_menu a:hover{
    background-color: var(--primaryClr);
    color: #fff;
}
/*ul.primary_menu > li > a:hover{
    color: #fff;
    border-color: var(--primaryClr);
}   */
ul.primary_menu > li {
    margin-left: 15px; 
  }
ul.primary_menu > li > a {   
    font-size: 16px;
    transition: all ease .3s;
    display: inline-block;
    padding: 10px;
    color: #fff;
    border-bottom: 2px solid transparent;
    position: relative;
}
ul.primary_menu > li.active > a {   
    border-color: #fff;
}

ul.primary_menu > li > a::after {
    content: "";
    border-bottom: 3px solid var(--primaryClr);
    position: absolute;
    bottom: 0;
    width: 35%;
    transition: all 0.3s linear 0s;
    transform: scale(0);
    transform-origin: center;
    left: 33%;
}
ul.primary_menu > li > a:hover::after {
    transform: scale(1);
}
.header_profile_menu > li:not(.balance_menu) > a:hover{
    color: var(--primaryClr) !important;
}
.header_profile_menu > li:not(.balance_menu) > a {
    width: 30px;
    height: 30px;
    color: #fff;
    border: 2px solid;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    transition: all ease .3s;
}
.header_profile_menu > li {
    margin-left: 10px;
}
.site-logo img{
        max-width: 185px;
}
.navbar-toggler{
    width: 50px;
    height: 35px;
    background-color: transparent;
    border: none;
/*    padding-top: 15px;*/
}
.navbar-toggler:focus{
    outline: none;
}
.navbar-toggler .line {
    width: 100%;
    float: left;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}
.navbar .navbar-toggler{
    float: right;
    display: none;
}
.bar1, .bar2, .bar3 {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
}
.change .bar1 {
transform: rotate(-45deg) translate(0px, 6px);
}
.change .bar2 {
opacity: 0;
}
.change .bar3 {
transform: rotate(45deg) translate(-3px, -8px);
}
/* ------------------------ Header End  ------------------------ */

/* ------------------------ Footer ------------------------ */
.site-footer {
    background-color: var(--textClr);
    color: #fff; }

.site-footer h6 {
        font-size: 1.1em;
        color: #fff;
        margin-bottom: 15px;
        text-transform: capitalize;
        font-weight: 600;
     }
.footer_menu a {
    color: #fff;
    margin-bottom: 7px;
    display: inline-block;
    transition: opacity ease .3s;
    opacity: .6;
    font-size: .9em; 
}
.footer_menu a:hover {
    opacity: 1; }

.social_menu a {
    color: #fff;
    width: 35px;
    height: 35px;
    display: inline-block;
    font-size: 14px;
    border-radius: 50%;
    border: 2px solid transparent;
    text-align: center;
    line-height: 35px;
    margin-left: 10px;
    transition: all ease .3s; }

.social_menu a:hover {
   /* background-color: var(--primaryClr);*/
    border-color: transparent;
    color: #fff; 
    border-radius: 5px 0;
}

/*.fb:hover {
    background-color: #3b5998;
}
.tw:hover {
    background-color: #55acee;
}
.gplus {
    background-color: #0073b1;
}
.inst {
    background: #f7944b;
    background: -moz-linear-gradient(left, #f7944b 0%, #ca406d 33%, #8549a9 66%);
    background: -webkit-linear-gradient(left, #f7944b 0%,#ca406d 33%,#8549a9 66%);
    background: linear-gradient(to right, #f7944b 0%,#ca406d 33%,#8549a9 66%);
}*/

.border_social a {
    display: inline-block;
    color: var(--primaryClr);
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-radius: 50%;
    text-align: center;
    line-height: 27px;
    transition: all ease .3s;
    margin-right: 10px; }
.border_social a:hover {
    background-color: var(--secondaryClr);
    border-color: var(--secondaryClr);
    color: #fff; }
/* ------------------------ Footer End------------------------ */

/*---------------Custom Switch Toggle Start ----------------*/
.switch input { 
    display:none;
}
.switch {
    display:inline-block;
    width:60px;
    height:25px;
    margin:0 8px;
    transform:translateY(50%);
    position:relative;
}

.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 30px;
    box-shadow: 0 0 0 2px #fff, 0 0 4px #fff;
    background: #fff;
    cursor: pointer;
    border: 4px solid transparent;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    width: 18px;
    height: 18px;
    background: var(--primaryClr);
    border-radius: 50%;
    transition: auto;
}

input:checked + .slider:before {
    transform:translateX(30px);
    background:limeGreen;
}
input:checked + .slider {
    box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
}

/*------------ Custom Switch toggle Css End ------------*/

.secondary_btn {
    padding: 11px 35px;
    border-radius: 5px;
    border: none;
    color: var(--primaryClr);
    background-color: #fff;
    transition: all ease .3s;
    cursor: pointer;
    display: inline-block;
    white-space: nowrap;
}
.secondary_btn:hover{
    background-color: var(--dark_black);
    color: #fff;
}
.social_media li{ 
    display: inline-block;
    margin-left: 10px; 
}
.social_media a:hover{
    color: var(--primaryClr);
    background-color: #fff;
    border-color: #fff;
}
.social_media a {
    transition: all ease .35s;
    color: #fff;
    height: 30px;
    width: 30px;
    border: 2px solid;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    border-radius: 50%;
    font-size: 13px;
}

.home_banner{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.home_banner::after {
    content: "";
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.home_banner .row {
    z-index: 9;
    position: relative;
}
.home_banner aside{
    display: flex;
    flex-direction: row;    
}
.home_banner h2{
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}
.home_banner p {
    font-size: 18px;
    padding: 15px 0 30px;
    width: 100% !important;
    letter-spacing: 0.2px;
}

.home_banner h1{
        font-size: 3.6em;
    margin-bottom: 0;
}
.home_banner button{
    text-transform: uppercase;
    font-size: 1.1em;
    letter-spacing: 2px;
    font-weight: bold;
}
.home_banner input::placeholder{
    color: #fff;
    opacity: .7;
}
.home_banner, .home_banner form{
    position: relative;
}
.home_banner input{
    box-shadow: none !important;
    padding: 10px;
    font-size: 1.1em;
    background-color: transparent;
    height: 100%;
    color: #fff !important;
    border-radius: 5px;
}
.home_banner input:focus{
    border-color: #fff;
    background-color: rgba(0,0,0,.2);
    outline: none;
}
.site_footer{
    background-color: var(--dark_black);    
}
.home_content form h5{
    transition: all ease .3s;
    position: absolute;
    bottom: 0;
    left: 0;
}   
.home_content form .row, .home_content form h5{
    transition: all ease .3s;
    transform-origin: top;
}
.form_submited .row, .home_content form:not(.form_submited) h5{
    transform: scale3d(1,0,1);
}
.home_content form h5{
    transition-delay: .3s; 
}

/* -----------------------  4.1 login/signup page  ------------------------- */
.other_login {
    text-align: center;
}
.other_login a:nth-child(2) {
    color: #518ef8;
}
.other_login img {
    margin-right: 10px;
}
.other_login a:first-child {
    color: #385c8e;
}
.other_login a {
    display: inline-block;
    padding: 7px 15px;
    background-color: #fff;
    border-radius: 50px;
    margin: 5px;
    font-size: 14px;
    font-weight: 600;
}
.login_signup_wrapr {
  background-image: url("../img/home_banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  min-height: 100vh;  
}

.site_form {
    color: #fff;
  background-color: var(--dark_black);
  padding: 30px 50px;
  border-radius: 15px; }
  .site_form .form-group img {
    width: 24px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 8px;
}

  .site_form .form-group input:focus{
    box-shadow: none;
    border: none;
    background-color: #f1f5f8;
  }
  .site_form .form-group input {
    border: 0;
    background-color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    padding-left: 42px;
    font-size: 14px;
}
.site_form h1{
    font-size: 1.8em;
    margin-bottom: 20px;
 }
.site_form button:hover::before {
    transform: scale(30);
} 
 .site_form button:hover{
    color: #fff;
  }
.site_form button:before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--primaryClr);
    top: 50%;
    left: 0;
    z-index: -1;
    transition: all ease .35s;
    border-radius: 50%;
    right: 0;
    margin: 0 auto;
    display: block;
    transform: scale(0);
    margin-top: -7.5px;
    pointer-events: none;
}
.site_form button {
    position: relative;
    z-index: 1;
    border: 0;
    transition: all ease .35s;
    font-size: 16px;
    font-weight: bold;
    color: var(--primaryClr);
    background-color: #fff;
    width: 100%;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}
.site_form .form-group input:focus::placeholder {
  opacity: .5; }
  .site_form .form-group input:focus{
    border:none;
    box-shadow: none;
    outline: none;
  }
.site_form .form-group input::placeholder {
  color: var(--primaryClr);
    text-transform: capitalize;
  }
.site_form .form-group {
display: flex;
align-items: flex-start;
position: relative;
 }
.site_form a.themeClr:hover{
    color: #fff !important   ;
}
  /* login-signup End */


/* -------------- lobby Page Start------------ */

.featuredcont-img img {
    margin: 0 auto;
    height: 110px;
    width: 97%;
    object-fit: cover;
    border: 2px solid #FFE;
}
form.search_form input::placeholder
{   
color: #fff;
}
form.search_form input {
    width: 50%;
    border-radius: 4px;
    border: 1px solid #ddd;
    padding: 5px 25px 5px 10px;
    transition: all ease .3s;
    background-color: transparent;
}
/*.selectPlayer form.search_form input{
    width: 100%;
}*/
form.search_form button {
    position: absolute;
    right: 20px;
    top: 7px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
}
.side_bar {
    background-color: var(--textClr);
    color: #fff;
}
.side_bar .form-group {
    border-bottom: 1px solid #fff;
    padding: 15px 10px;
    margin-bottom: 0;
}
.loby_sidebar_btns {
    display: flex;
}
.loby_sidebar_btns a:first-child {
    border-right: 1px solid #fff;
}
.loby_sidebar_btns a {
    flex: 1;
    text-align: center;
    color: #fff;
    padding: 10px;
}
/* -------------- lobby Page End------------ */

/* -------------- responsive ------------ */
@media (min-width: 768px){
    section.login_signup_wrapr.burger {
        padding-top: 150px;
    }
    .home_banner p{
       width: 88%;
    }
    .site_footer{
        /*position: fixed;*/
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1030;
    }
    .burger {
        padding: 40px 0;
    }
    .downloadapp h3 {
        font-size: 38px;
    }
    .carousel {
        padding: 0;
    }
}
@media (max-width: 767px){
    .contactBox  {
        padding: 20px !important;
    }
    .comm_title {
        font-size: 1.3em;
    }
    .social_media a{
        font-size: 11px;
    }
    .socialIcons {
        margin-bottom: 15px;
    }
    .aboutus-banner {
        height: 250px;
        margin-bottom: 40px;
    }
    .burger {
        padding: 30px 0;
    }
    .bg-img.pt-10{
        padding-top: 7em !important;
    }
    .featureSec ul li p {
        font-size: 11px;
    }
    .classic_list ol {
        padding: 10px 25px;
    }
    .legalities_content h3 {
        font-size: 18px;
        font-weight: 600;
    }
    .faq_content {
        padding: 18px!important;
    }
    .tab_content_resource h4 {
        font-size: 16px;
        font-weight: 600;
    }
    .term-conditions_content {
        padding: 15px !important;
    }
    .downloadapp h3 {
        font-size: 28px;
    }
    .downloadapp h4 {
         font-size: 28px;
    }
    .news_letter_form .btn {
        padding: 0 10px;
    }
    .contactBox .listPar .social_menu a {
        width: 50px !important;
        height: 50px !important;
        line-height: 50px !important;
        margin: 0 3px !important;
    }
    .black_downloads {
        flex-direction: column;
    }
    .black_downloads li a {
        margin-bottom: 15px;
    }
    .carousel {
        padding: 0;
    }
    .social_media li {
        margin-left: 5px;
    }
    .site-logo img {
        max-width: 150px;
    }
    .home_banner button {
        font-size: .9em;
        padding: 11px 13px;
    }
    .home_banner h2{
            font-size: 2em;
    }
    .home_banner h1{
        font-size: 2.5em;
     }  
     .home_banner p {
        font-size: 14px;
     }
     .btnPrimary {
        font-size: 12px !important;
     }
     .home_banner {
        min-height: 70vh;
      }
     .vertical_text {
        padding: 18px 4px;
        margin-right: 11px;
        font-size: 16px;
        margin-bottom: 10px;
            letter-spacing: 4px;
    }
    .home_banner aside {
        align-items: flex-end;
    }
    .home_banner button{
        padding: 8px 13px;
    }
    .home_banner input{
    /*  height: unset;*/
        padding: 5px 10px;
    }
    .copyright{
        font-size: 14px;
    }
}

@media (max-width: 480px){
    /*********** Index Start ***********/
    .home_content a.secondary_btn.submit_btn {
        padding: 8px 30px !important;
    }
    /*********** Index End ***********/
}
@media (max-width: 380px){
    /*********** Index Start ***********/
    .home_content a.secondary_btn.submit_btn {
        padding: 6px 20px !important;
    }
    /*********** Index End ***********/
}

.table thead th {
    padding: 10px;
    font-weight: 600;
    font-size: 16px;
    background-color: #ddd;
}

.loby_table tr td:first-child {
    padding-left: 25px;
    word-break: break-word;
    min-width: 110px;
}
/*.loby_table thead, .loby_table tbody {
  display: block;
}*/
/*.loby_table tr {
    display: flex;
}*/
/*.loby_table tr th, .loby_table tr td {
  flex: 1;
}*/
.table tr td:first-child i {
    margin-left: -20px;
    color: #000;
}
.table tbody tr td {
    padding: 10px;
    vertical-align: middle;
}

ul {
    list-style: none;
    padding: 0;
}
.Participant_list ul li {
    color: var(--textClr);
}

.custom_select {
    height: 25px;
    border: 1px solid transparent;
    padding: 0 15px;
    border-radius: 5px;
}
.bdr_lft {
    border-left: 2px solid #258c01;
    height: 27px;
}
.fb {
    background-color: #3b5998;
}
.tw {
    background-color: #55acee;
}
.gplus {
    background-color: #0073b1;
}
.inst {
    background: #f7944b;
    background: -moz-linear-gradient(left, #f7944b 0%, #ca406d 33%, #8549a9 66%);
    background: -webkit-linear-gradient(left, #f7944b 0%,#ca406d 33%,#8549a9 66%);
    background: linear-gradient(to right, #f7944b 0%,#ca406d 33%,#8549a9 66%);
}
/*------------- custom scrollbar ------------*/
.custom_scroll {
  max-height: 200px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.custom_scroll::-webkit-scrollbar-thumb {
  background-color: var(--primaryClr);
  width: 6px;
  border-radius: 10px;
}
.custom_scroll::-webkit-scrollbar {
  background-color: #eee;
  width: 6px;
}
/*------------- custom scrollbar end ------------*/

/*------------- Header Dropdown CSS Start ---------*/
  .header_profile_menu .dropdown-menu {
    padding: 0;
    top: 40px;
    left: 50%;
    width: 310px;
    transform: translate(-50%);
  }
  .navbar-nav .dropdown-menu {
    float: none;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .dropdown-menu.show {
    display: block;
  }
  .dropdown-menu {
    border-radius: 0;
  }
  .header_profile_menu .dropdown-menu:before {
    content: "";
    position: absolute;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid #fff;
    top: -8px;
    z-index: 9999;
    left: 50%;
    transform: translate(-50%);
  }
  .profile-header {
    background-color: #f4f5f8;
  }
  .dropdown_title {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f4f5f8;
    text-align: center;
  margin-bottom: 0;
  }
  .border-bottom {
    border-bottom: 1px solid #dee2e6!important;
  }
  .accountDrop .dropdown-menu ul li {
    display: block;
    margin: 0;
  }
  .accountDrop span {
    font-size: 14px !important;
    max-width: 66px !important;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: inherit;
    display: inline-block;
    vertical-align: middle;
  }
  .accountDrop .dropdown-menu ul li {
    display: block;
    margin: 0;
  }
  ul li {
    list-style: none;
  }
  .accountDrop .dropdown-menu ul li a {
    display: inline-block;
    color: #000;
    font-weight: 400;
    padding: 9px 15px;
    font-size: 15px;
    border-bottom: 1px solid #eee !important;
    width: 100%;
    white-space: nowrap;
  }
  .accountDrop .dropdown-menu ul li a:hover{
    color: #fff;
    background-color: var(--primaryClr);
  }
  .accountDrop .dropdown-menu ul li a:hover .fa-fw{
    color: #fff;
  }
  .headerSec ul li a{
    align-items: center;
  }
  .accountDrop .dropdown-menu a>i {
    margin-right: 5px;
    color: #aaa;
  }
  .fa-fw {
    width: 1.28571429em;
    text-align: center;
  }
.notification .dropdown-menu h4 {
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-bottom: 1px solid #eee;
    background-color: #f4f5f8;
    margin-bottom: 0;
}
.notification .dropdown-menu ul {
    overflow: auto;
    max-height: 400px;
}
.notification .dropdown-menu ul li {
    background-color: #f0f0f9;
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
    padding: 8px 15px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 0;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.notification .dropdown-menu ul li div {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    flex: 90%;
}
.notification span{
  max-width: 190px !important;
    text-overflow: unset;
    white-space: unset;
}
.notification .dropdown-menu ul li div span:first-child {
    font-size: 15px !important;
    font-weight: 600;
    text-transform: capitalize;
}
.notification .dropdown-menu ul li div + span {
    display: block;
    color: #a1a1a1;
    font-weight: 400;
    font-size: 11px;
    /*line-height: 14px;*/
    text-align: right;
}
/*---------------- Header Dropdown CSS End -----------------*/

/*------------- My League Css ----------------*/

.league-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff;
    background-color: var(--primaryClr) !important;
    border: 0 !important;
    font-size: 16px;
    font-weight: bold;
}
.league-tab .nav-link {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    background-color: #000 !important;
    border: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}
.league-tab .nav-link:last-child {
   margin-right: 0;
}
.league-tab .nav-link:hover {
    border: none;
}
.league-tab tbody tr {
  background-color: #fff;
}

.league-tab .btn_sm_primary::after {
    content: "";
    background-color: #000;
    z-index: -1;
}
.progress {
    height: 3px;
    background-color: #aaa !important;
}
.progress .progress-bar {
    background: var(--primaryClr);
}

/*------------ Leader Board Csss ----------*/
.matchs-slide {
    border-top: 1px solid #aaa;
    padding: 15px 0;
    border-bottom: 1px solid #aaa;
}

.leaderboard-head {
    background-color: var(--primaryClr);
    display: flex;
    align-items: center;
    color: #fff;
    padding: 5px 10px;
}
.user_icon {
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
} 
.rank-item span {
    height: 22px;
    width: 22px;
    background-color: var(--primaryClr);
    display: inline-block;
    border: 1px solid var(--primaryClr);
    text-align: center;
    line-height: 20px;
    color: #fff;
}
.slide-item {
    background-image: url(../img/bg-slide.png);
    background-repeat: no-repeat;
    width: 98%;
    padding: 10px;
    border-radius: 15px;
    background-size: cover;
}
.slide-item h4 {
    font-size: 18px;
}
.verses {
    font-weight: 600;
    font-size: 20px;
    height: 40px;
    width: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 5px #aaa;
}
/*------------- Select Player Css Start --------------*/

.panel-header {
    background-color: #fff;
    padding: 10px 20px;
}
.header-list {
    display: flex;
    margin: 0;
}
.header-list li {
    flex: 1;
}
.ground-bg {
    background-image: url(../img/ground-bg.png);
    height: 95%;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.ground-bg ul {
    justify-content: space-around;
    width: 100%;
}
.panel-body {
    max-height: 595px;
}
.panel-body ul {
    padding: 15px 20px;
    border-bottom: 1px solid #aaa;
    cursor: move;
    background-color: #fff;
}
.add-icon, .remove-icon {
    color: #fff;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-size: 14px;
}
.add-icon {
    background-color: var(--primaryClr);
    color: #fff;
}
.remove-icon {
    background-color: red;
}
.panel-footer {
    background-color: #333;
    color: #aaa;
    text-align: center;
    padding: 20px;
}
.btn_grp a {
  flex: 1;
  margin-right: 10px;
}
.share-link {
    border-bottom: 0;
    font-size: 22px;
    margin-bottom: 2px;
}
.selectPserchP input{
    width: 100% !important;
}

/*------------- Scoring Comparision Page --------------*/
.all-team tbody {
  max-height: 640px;
  overflow-y: auto;
  scrollbar-width: thin;
}
.all-team tbody::-webkit-scrollbar-thumb {
  background-color: var(--primaryClr);
  width: 6px;
  border-radius: 10px;
}
.all-team tbody::-webkit-scrollbar {
  background-color: #eee;
  width: 6px;
}

.all-team .table-fixed {
  background-color: #fff;
}

.all_team_table thead, .all_team_table tbody, .all_team_table tr, .all_team_table td, .all_team_table th {
  display:block;
}
.all-team tbody tr {
   display: flex;
}
.all-team tbody td {
  width: 100%;
}
  
.all-team thead tr th {
  width: 100%;
  background-color: #000;
  border-color: #000;
  color: #fff;
}
.t_head {
    background-color: #000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.player_list {
    margin: 0;
    padding: 10px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/*-------------------- Draft Line Page -----------------*/
.draft_timer_wrapr > span, .draft_team_list li > span {
    font-size: .9em;
    white-space: nowrap;
    display: inline-block;
    font-weight: 700;
}

.draft_team_list li {
  font-size: .9em;
  width: 80px;
  display: inline-block;
  border-right: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  color: #000;
  background-color: #fff; }

li.round_started {
/*  background-color: rgb( 212, 180, 0 );
  color: #fff;*/
    position: relative;
    width: 96px;
    padding-left: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}
li.round_started bdi {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    height: 100%;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    background-color: var(--primaryClr);
    padding: 0 4px;
    font-size: 11px;
    color: #fff; 
}
.draft_timer_wrapr {
  color: #fff; }

.auto_pick {
  text-align: left;
  background-color: #000;
  /*padding-left: 35px;*/
  text-align: center;
  padding-top: 5px;
  margin-bottom: 5px;
  margin-top: 5px; }
.custom-control {
    padding-left: 0 !important;}
.auto_pick label {
  font-size: 13px; }

.draft_timer {
  background-color: #266a2e;
  padding: 4px; }
  .draft_timer i {
    margin-right: 4px; }

.auto_pick .custom-control-label:before, .auto_pick .custom-control-label:after {
  border-radius: 0;
  top: 0;
  left: -35px;
  width: 24px;
  height: 24px; }

.status_bar li {
  display: inline-block;
  margin-right: 20px;
  color: #fff; }
.status_bar img {
  width: 20px;
  margin-right: 6px; }

.draft_menu {
  border-bottom: 1px solid #eee; }
  .draft_menu li {
    display: inline-block; }
  .draft_menu a {
    font-weight: 600;
    color: #000;
    padding: 10px 15px;
    display: inline-block;
    transition: all ease .3s; }

.draft_team_list .team_img:before {
  content: "";
  width: 7px;
  height: 7px;
  display: inline-block;
  background-color: #45bd42;
  top: 3px;
  position: absolute;
  border-radius: 50%;
  right: 3px; }

.team_img {
    width: 35px;
    margin: 5px auto;
    height: 35px;
    background-color: #eee;
    border-radius: 50%;
    align-items: flex-end;
    justify-content: center;
    display: flex;
    position: relative;
  }
  .team_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%; 
}
.draftStatusRound button.slick-arrow {
    display: none !important;
}

/*--------------- Player Stats -------------*/

.profile-img img {
    border-radius: 50%;
}
.fantasy-point p {
    color: var(--primaryClr);
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}
.point {
    border-right: 2px solid #333;
    padding-right: 45px;
}

/*----------------- Invite Freinds ------------*/
.invites_grp p {
    margin: 0;
    padding: 0 13px;
    border-right: 2px solid var(--primaryClr);
}
.invites_grp p:last-child {
  border-right: none;
}
.invites_grp {
    position: relative;
}
.invites_grp::after {
    content: "";
    border-bottom: 2px solid rgba(255,255,255,0.2);
    width: 100%;
    margin: 10px;
}
.invit_list {
  width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
    font-weight: 700;
}
/*-------------- Profile Page -------------------*/

.profile__form .form-control-plaintext {
  padding: 13px;
  font-size: .95em;
  transition: all ease .3s;
  font-weight: 500;
  border-bottom-color: #ddd; }
  .profile__form .form-control-plaintext + span {
    position: absolute;
    width: calc(100% - 15px);
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 1px;
    border-radius: 100px;
    display: inline-block;
    background-color: #266a2e;
    transform: scale3d(0, 1, 1);
    transform-origin: left;
    transition: all ease .3s; }
  .profile__form .form-control-plaintext:focus + span {
    transform: scale3d(1, 1, 1); }

.profile_header {
  background-color: #f1f1f1; }
.profile_header h5 {
    font-size: 22px;
    font-weight: 700;
}
.profile_header, .profile_form {
  padding: 10px 28px; }

.profile_page label {
  margin-bottom: 0;
  color: #828486; }

.profile_meta a, .profile_meta aside {
  font-size: .9em; }

.profile_img {
    position: relative;
    width: 110px;
    height: 110px;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    top: -35px; }
  .profile_img a {
    position: absolute;
    top: 20px;
    right: -5px;
    border-radius: 50%;
    display: inline-block;
    background-color: var(--primaryClr);
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px; }
    .profile_img a:hover {
      background-color: #828486; }
  .profile_img img {
    width: 100%;
    height: 100%;
  /*  border: 2px solid #fff;*/
    object-fit: cover; }

.profile_menu {
  text-align: right;
  margin-right: -20px; }
  .profile_menu li {
    display: inline-block;
    position: relative; }
    .profile_menu li:not(:first-child):before {
      content: "";
      width: 6px;
      height: 6px;
      background-color: #828486;
      position: relative;
      display: inline-block;
      border-radius: 50%; }
  .profile_menu a {
    color: var(--primaryClr);
    padding: 10px;
    display: inline-block;
    font-weight: 500;
    font-size: .9em; }

 .profile_menu a:hover {
      color: #000; 
  }
  .input_text {
    border-bottom: 1px solid var(--primaryClr) !important;
    border: none;
    border-radius: 0;
    transition: all 0.3s linear 0s;
}
/*---------------- Contact-Us CSS Start ----------------*/
.contactUs{
    background-color: #fff;
    box-shadow: 1px 1px 5px #aaa;
}
/*.contactUs:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title {
    padding: 15px 0;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.contectInformation ul li .fa {
    color: var(--primaryClr);
    margin: 10px;
}
.contectInformation ul li:nth-child(2) .fa {
    transform: rotate(100deg);
}
.contactBox .listPar .social_menu a{
    border: 0px;
    font-size: 25px;
}
.contactBox .listPar .social_menu a.facebook{
    color: #3b5998;
}
.contactBox .listPar .social_menu a:hover i {
    color: #fff;
}
.contactBox .listPar .social_menu a.twitter{
    color: #3cf;
}
.contactBox .listPar .social_menu a.google{
    color: #dc4a38;
}
.contactBox .listPar .social_menu a.insta{
    color: #3f729b;
}
.contactBox .listPar .social_menu a{
    display: inline-block;
    background-color: #fff;
    width: 60px;
    height: 60px;
    line-height: 60px;
    margin: 0 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 28%;
    box-shadow: 0 5px 15px -5px rgba(0,0,0,0.2);
    opacity: 0.99;
}
.contactBox .listPar .social_menu a:focus a.facebook, .contactBox .listPar .social_menu a:hover a.facebook{
    color: #fff !important;
    transform: scale(1);
}
.contactBox .listPar .social_menu a .fa {
    font-size: 38px;
    vertical-align: middle;
}
.contactBox .listPar .social_menu a:focus:before, .contactBox .listPar .social_menu a:hover:before{
    top: -10%;
    left: -10%;
}
.contactBox .listPar .social_menu a:before{
    background: rgba(37, 140, 1, 0.7);
    content: '';
    width: 120%;
    height: 120%;
    top: 90%;
    left: -110%;
    position: absolute;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}
.contactBox .listPar .social_menu a, .contactBox .listPar .social_menu a:before,
.contactBox .listPar .social_menu a .fa {
    transition: all 0.35s;
    transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}
.contactBox {
  background: #fff;
}
.contactUs .form-control, .profile_page .form-control{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid var(--primaryClr);
    border-radius: 0;
}
.contactUs .form-control:focus, .profile_page .form-control:focus{
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
    background: rgba(37, 140, 1, 0.1);
}
.contactUs button.btn-submit{
  background: none;
  color: var(--primaryClr);
    border: 1px solid var(--primaryClr);
    border-radius: 0px;
    padding: 10px 30px;
    position: relative;
}
.contactUs button.btn-submit:after{
    content: '';
    position: absolute;
    background: var(--primaryClr);
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s;
    z-index: -1;
}
.contactUs button.btn-submit:hover:after, .contactUs button.btn-submit:active:after {
    width: 100%;
}
.contactUs button.btn-submit:hover, .contactUs button.btn-submit:active{
  color: #fff;
  position: relative;
  z-index: 1;
}

  /* Change Autocomplete styles in Chrome*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    border-bottom: 1px solid var(--primaryClr);
    -webkit-text-fill-color: var(--textClr);
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/*---------------- Contact-Us CSS End ----------------*/

/*---------------- About-Us CSS Start ----------------*/
.aboutUs{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.aboutUs p{
    line-height: 25px;
    margin-top: 10px;
    letter-spacing: 0;
    font-weight: normal;
    margin-bottom: 15px;
}
/*---------------- About-Us CSS End ----------------*/

/*---------------- Faq CSS Start ----------------*/
.faq{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
/*.faq:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title {
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.faq_content h5 {
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 0px;
}
.faq_content h4{
    text-transform: uppercase;
    border-left: 2px solid var(--primaryClr);
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    padding-left: 10px !important;
}
.faq_content p {
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 30px;
}
/*---------------- Faq CSS End ----------------*/

/*---------------- Legality CSS Start ----------------*/
.legality{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
/*.legality:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
/*.legalities_content p{
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 15px;
}*/
/*---------------- Legality CSS End ----------------*/

/*---------------- Point-System CSS Start ----------------*/
.pointSystem{
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 5px #aaa;
}
/*.pointSystem:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.pointSystem .nav.nav-tabs{
    border: 0;
    margin: 20px 0;
}
.pointSystem .nav.nav-tabs .nav-item{
    flex: 0 0 32.33%;
    margin: 0 0.5%;
}
.pointSystem .nav.nav-tabs .nav-item:first-child{
    margin-left: 0 !important;
}
.pointSystem .nav.nav-tabs .nav-item:last-child{
    margin-right: 0 !important;
}
.pointSystem .nav.nav-tabs .nav-link {
    display: block;
    position: relative;
    text-align: center;
    color: #fff;
    border: 0;
    margin: 0 auto;
    border-bottom: solid 2px var(--primaryClr);
    border-radius: 0;
    outline: none;
    overflow: hidden;
    background: transparent;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    z-index: 1;
    background: #222;
}
.pointSystem .nav.nav-tabs .nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: var(--primaryClr);
    transition: all .5s ease-in-out;
    transform: translateX(-60%) translateY(0%) rotate(39deg);
    z-index: -1;
}
.pointSystem .nav.nav-tabs .nav-link:hover:after {
    transform: translateX(-9%) translateY(-30%) rotate(35deg);
}
.pointSystem .tab-content .tab-pane {
    height: auto;
}
#batPointTab, #bowlPointTab, #fieldPointTab {
    max-height: 320px;
    overflow: auto;
}
.pointSystem #batPointTab::-webkit-scrollbar,
.pointSystem #bowlPointTab::-webkit-scrollbar,
.pointSystem #fieldPointTab::-webkit-scrollbar {
    width: 5px;
}
.pointSystem #batPointTab::-webkit-scrollbar-track,
.pointSystem #bowlPointTab::-webkit-scrollbar-track,
.pointSystem #fieldPointTab::-webkit-scrollbar-track {
    background: rgba(37, 140, 1, 0.4);
}
.pointSystem #batPointTab::-webkit-scrollbar-thumb,
.pointSystem #bowlPointTab::-webkit-scrollbar-thumb,
.pointSystem #fieldPointTab::-webkit-scrollbar-thumb {
    background: var(--primaryClr);
    border-radius: 25px;
}
.pointSystem .tab-pane h4.bowl,
.pointSystem .tab-pane h4.field{
    margin-top: 15px;
}
.pointSystem h4 a{
    color: var(--primaryClr);
    text-align: center;
}
.pointSystem h4 a img, .pointSystem h4 a .fa{
    margin-left: 15px;
    margin-right: 20px;
}
.pointSystem h4 a .fa{
    color: #000;
    font-size: 22px;
}
.pointSystem h4.field a .fa{
    margin-right: 20px;
}
.pointSystem h4 a img{
    margin-bottom: 5px;
}
.accordion{
    background-color: #eee;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.3em;
}
.accordion:after {
    content: '\002B';
    color: var(--primaryClr);
    font-weight: bold;
    float: right;
    margin-right: 10px;
}
.active1:after{
    content: "\2212";
}
.pointSystem .pointBody ul li{
    font-size: 16px;
    padding-right: 35px;
}
.pointBody {
    border-left: 1px solid var(--primaryClr);
}
.pointHead ul, .pointBody ul {
    display: flex;
    margin-bottom: 0px;
    background-color: #f4f5f8;
    border-bottom: 1px solid #ccc;
}
.pointHead ul li {
    color: #fff;
    flex: 0 0 50%;
    padding: 10px 15px;
    background: var(--primaryClr);
    font-weight: 600;
}
.pointHead ul li:nth-child(2) {
    text-align: right;
    padding-right: 35px;
}
.pointBody ul li:nth-child(2) {
    text-align: right;
}
.pointBody ul li {
    flex: 0 0 50%;
    padding: 10px 15px;
    background: #f4f5f8;
    font-size: 12px;
    color: #000;
}
/*---------------- Point-System CSS End ----------------*/

/*---------------- Privacy-Policy CSS Start ----------------*/
.privacyPolicy{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
/*.privacyPolicy:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.privacypolicySec h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
/*.privacyPolicy p{
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 15px;
}*/
/*---------------- Privacy-Policy CSS End ----------------*/

/*---------------- Term-Conditions CSS Start ----------------*/
.termConditions{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
/*.termConditions:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.termConditions p{
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 15px;
}
.termConditions blockquote > li {
    margin-bottom: 10px;
}
/*---------------- Term-Conditions CSS End ----------------*/
/*---------------- My-Account CSS Start ----------------*/
.myAccount{
    background-color: #fff;
    box-shadow: 0px 0px 5px #aaa;
}
/*.myAccount:hover{
box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}*/
/*.top-header-title{
padding: 20px 0;
margin: 0;
border-bottom: 1px solid var(--primaryClr);
}*/
.myAccount p{
font-size: 16px;
line-height: 23px;
margin-top: 10px;
letter-spacing: 0.02em;
font-weight: normal;
margin-bottom: 15px;
}
.myAccount .border-right{
border-right: 2px solid #dee2e6!important;
padding-right: 75px;
}
.myAccount .addOption a.btn {
margin: 20px 0px;
border-radius: 3px;
border: 0;
transition: all 0.3s ease-in-out;
}
.myAccount .addOption a.btn:hover{
background: var(--primaryClr);
transition: all 0.3s ease-in-out;
opacity: 1;
}
.transictionOption .nav.nav-tabs {
border: 0;
margin: 20px 0;
}
.transictionOption .nav.nav-tabs li {
padding: 0 5px;
}
.transictionOption .nav.nav-tabs .nav-link{
text-align: center;
color: #000;
font-weight: normal;
border: 0;
padding: 5px 100px;
border-bottom: 2px solid transparent;
background: transparent !important;
border-radius: 0;
}
.transictionOption .nav.nav-tabs .nav-link.active,
.transictionOption .nav.nav-tabs .nav-link:hover{
border-bottom: 2px solid var(--primaryClr) !important;
}
.transictionOption table {
width: 100%;
color: #fff;
margin-bottom: 0;
/* border: 1px solid rgba(255, 255, 255, 0.5);*/
}
.transictionOption table thead {
border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.transictionOption tr {
display: flex;
flex-wrap: wrap;
width: 100%;
}
.transictionOption table th {
color: #fff;
font-size: 14px;
font-weight: 400;
padding: 10px;
flex: 1;
background: rgba(0, 0, 0, 0.7);
border-right: 1px solid rgba(255, 255, 255, 0.5);
border-bottom: 0px;
}
.transictionOption tbody {
display: flex;
width: 100%;
flex-wrap: wrap;
}
.dfs_custom_scroll {
max-height: 550px;
overflow-y: auto;
overflow-x: hidden;
}
.transictionOption table tbody tr:last-child {
border-bottom: none;
}
.transictionOption table td{
font-size: 14px;
padding: 10px;
flex: 1;
border-right: 1px solid #ddd;
}
.transictionOption .tab-content #transaction label,
.transictionOption .tab-content #withdrawal label{
padding-top: 7px;
padding-right: 7px;
}
.transictionOption .tab-content #transaction .form-control,
.transictionOption .tab-content #withdrawal .form-control{
padding-right: 100px;
}
.modal-dialog.custom_popup.small_popup {
max-width: 395px;
}
.modal-dialog {
transform: translate(0, -50%) !important;
top: 50%;
}
.custom_popup .modal-content {
border: 1px solid rgb(225, 225, 225);
}
.custom_popup .modal-header {
background: var(--primaryClr);
position: relative;
padding: 10px;
}
.modal .close {
border: 0 !important;
}
.custom_popup .close, .loginModal .close {
position: absolute;
background: #2f2f2f;
height: 30px;
width: 30px;
opacity: 1;
text-shadow: none;
color: #fff;
border: 1px solid #fff;
text-align: center;
padding: 0;
font-weight: 400;
display: inline-block;
border-radius: 50%;
line-height: 27px;
right: 13px;
top: 8px;
margin: 0;
padding-top: 0px;
}
.custom_popup .modal-header .modal-title {
color: #fff;
text-align: center;
font-size: 22px;
width: 100%;
}
.custom_popup .ammount_popup {
padding: 15px 25px;
}
.custom_popup .modal-content label {
margin-bottom: 8px;
/*padding: 0;*/
}
.ammount_popup label {
text-align: left;
display: block;
}
.small_popup .form-control {
height: 40px;
color: #666 !important;
border: 1px solid rgba(0, 0, 0, 0.2)!important;
background: transparent;
}
.add_money h4 {
text-align: center;
font-size: 14px;
font-weight: 400;
}
.add_money ul {
text-align: center;
margin: 25px 0;
}
.add_money ul li {
display: inline-block;
color: #fff;
border-radius: 3px;
margin: 0 5px;
cursor: pointer;
}
.custom_popup .modal-content .btn {
text-transform: capitalize;
color: #fff;
background-color: var(--primaryClr); 
}
.comon_body .customCheckbox {
margin-right: 15px;
}
.customCheckbox {
position: relative;
display: inline-block;
}
.customCheckbox input[type=checkbox] {
position: absolute;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
opacity: 0;
cursor: pointer;
}
.customCheckbox label::after {
content: "";
position: absolute;
height: 18px;
width: 18px;
border: 2px solid #fac733;
border-radius: 3px;
left: 0;
top: 2px;
}
[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
content: '';
position: absolute;
left: 0;
top: 2px;
width: 18px;
height: 18px;
border: 2px solid var(--primaryClr);
background: #fff;
border-radius: 3px;
box-shadow: inset 0 1px 3px rgba(0,0,0,.1);
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after{
content: '';
position: absolute;
top: 6px;
left: 4px;
line-height: 0.8;
border-radius: 0px;
transition: all .3s;
background: var(--primaryClr);
border: 0;
width: 10px;
height: 10px;
}
.applyBox input {
width: 72%;
display: inline-block;
margin-right: 1%;
height: 38px !important;
vertical-align: top;
}
.custom_popup .modal-content .btn.btn-apply{
background: var(--primaryClr);
opacity: 1;
margin: 0;
}
.custom_popup .modal-content .btn.bluebg {
text-transform: capitalize;
background: #000;
color: #fff;
}
.myAccount .addOption .btn-danger{
    background-color: #555555;
}
.btn.focus, .btn:focus{
    box-shadow: none;
}
/*---------------- My-Account CSS End ----------------*/

/*---------------- changePassword CSS Start ----------------*/
.changePassword{
    background-color: #fff;
}
.changePassword:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}
/*.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}*/
.changePassword p{
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 15px;
}
.changePassword label{
    margin-bottom: 0;
}
.changePassword input{
    background: transparent;
    border: 0px;
    border-bottom: 1px solid var(--primaryClr);
    border-radius: 0;
    outline: none;
}
.changePassword input:focus{
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.3);
    border-radius: 5px 5px 0 0;
    background: rgba(37, 140, 1, 0.1);
    border: 0px;
    border-bottom: 1px solid var(--primaryClr);
}
.changePassword button{
    border: 1px solid var(--primaryClr);
    background: transparent;
    font-size: 16px;
}
.changePassword button:hover{
    background: var(--primaryClr);
    color: #fff;
}
/*---------------- changePassword CSS End ----------------*/

/*---------------- Verify-Account CSS Start ----------------*/
.verifyAccounts{
    background-color: #fff;
}
.verifyAccounts:hover{
    box-shadow: 2px 2px 20px 0px rgba(0,0,0,0.6);
}
.top-header-title{
    padding: 20px 0;
    margin: 0;
    border-bottom: 1px solid var(--primaryClr);
}
.verifyAccounts p{
    font-size: 16px;
    line-height: 23px;
    margin-top: 10px;
    letter-spacing: 0.02em;
    font-weight: normal;
    margin-bottom: 15px;
}
.verifyAccounts .settingHead{
    font-size: 18px;
    font-weight: 500;
    display: inline-block;
}
.veryfy_condition {
    margin: 15px 0;
    border-bottom: 1px solid #eee;
    border-top: 1px solid #eee;
    line-height: 30px;
    padding: 10px 0;
}
.veryfy_condition h4 {
    font-size: 16px;
    margin-bottom: 10px;
}
.veryfy_condition ul li {
    font-size: 13px;
    line-height: 24px;
}
.veryfy_icn li {
    display: inline-block;
    margin-right: 5px;
}
.veryfy_icn li.red i {
    color: red;
    font-size: 18px;
    margin-right: 5px;
}
.veryfy_icn li.green i {
    color: green;
    font-size: 18px;
    margin-right: 5px;
}
.settingPoints .nav.nav-tabs {
    border: 0;
}
.nav-tabs .nav-item {
    margin-bottom: -1px;
}
.settingPoints .nav.nav-tabs .nav-item .nav-link.active,
.settingPoints .nav.nav-tabs .nav-item .nav-link:focus {
    background: var(--primaryClr);
    font-weight: normal;
    color: #fff;
}
.settingPoints .nav.nav-tabs .nav-item .nav-link {
    border: 0;
    padding: 10px 25px;
    color: #000;
    background-color: #ccc;
    border-radius: 5px 5px 0 0;
    transition: all 0.3s ease-in-out;
}
.verifyAccounts .tab-content {
    border: 1px solid #eee;
    padding: 25px;
}
.dis_status {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 18px;
    padding: 0 15px;
}
.text-success {
    font-weight: 600;
    color: #28a745!important;
}
.settingPoints .tab-content h4 {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 18px;
}
.settingPoints .tab-content label {
    font-size: 14px;
    color: #000;
}
.settingPoints .form-control {
    background: #eee;
    border: 1px solid transparent;
    border-color: transparent !important;
    border-color: rgba(225, 225, 225, 0.5) !important;
}
.btn.Setting{
    padding: 10px 25px;
}
.btn.btnSend {
    padding: 10px 25px;
    background: var(--primaryClr);
    opacity: 0.7;
}
.btn.btnVerify, .btn.btnSetting {
    padding: 10px 25px;
    background: var(--primaryClr);
}
.settingPoints .tab-content p {
    margin-bottom: 15px;
    font-size: 13px;
}
.settingPoints .tab-content p i, .info_icon{
    color: var(--primaryClr);
    font-size: 18px;
}
.input-file-container .input-file{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.input-file-trigger{
    background: var(--primaryClr);
    padding: 9px 15px;
    border-radius: 3px;
    text-align: center;
    min-width: 150px; 
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.settingPoints .form-control option{
    
}
/*---------------- Verify-Account CSS End ----------------*/

/*-------------- How to Play Section Css -------------*/

.howtoplay-item {
    border: 1px solid #f2f2f2;
    padding: 23px;
    border-radius: 5px;
    cursor: pointer;
    height: 100%;
    transition: all 0.4s ease-in 0s;
    box-shadow: 1px 1px 5px #ccc;
}
.howtoplay-item span {
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow: 1px 2px 5px #ccc;
}
.howtoplay-item h3 {
    font-size: 18px;
    margin-top: 10px;
}
.howtoplay-item p {
    font-size: 14px;
    margin-top: 5px;
    line-height: 22px;
}
.howtoplay-item:hover {
    box-shadow: 1px 1px 5px #ccc;
    transform: scale(1.1);
}

.classic_list ol {
    background-color: #f8f9fa;
    padding: 30px 50px;
    line-height: 35px;
    height: 100%;
}