<div class="modal-body">
	<div class="form-area">
		<form id="update_form" name="update_form" autocomplete="off" >
<!-- 			<div class="row">
				<div class="col-md-12" style="text-align: center; margin-bottom: 10px;">
					<div class="form-group">
						<center><h3>Game Name: {{contestData.ContestName}}</h3></center>
					</div>
				</div>
			</div>
			<hr> -->
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Game Name:</b> {{contestData.ContestName}}</label>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Game Status:</b> {{contestData.Status}}</label>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Winning Prize:</b> <i class="fa fa-inr"></i>{{contestData.WinningAmount}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Prize/Kill: </b> {{contestData.PerKill}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Entry Fee: </b> <i class="fa fa-inr"></i>{{contestData.EntryFee}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Game Size:</b> {{contestData.ContestSize}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label><b>Total Joined: </b> {{contestData.TotalJoined}}</label>
					</div>
				</div>
								<div class="col-md-3">
					<div class="form-group">
						<label class="control-label"><b>Admin Percentage: </b> {{contestData.AdminPercent}}%</label>
					</div>
				</div>

				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label"><b>Bonus Contribution: </b> {{contestData.CashBonusContribution}}%</label>
					</div>
				</div>
			  </div>
			<hr>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Game Schedule:</b> {{contestData.GameSchedule}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Map:</b> {{contestData.Map}}</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>GameVersion:</b> {{contestData.GameVersion}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Is Private?:</b> {{contestData.Privacy}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Is Paid Contest:</b> {{contestData.IsPaid}}</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col"><b>Contest Format:</b> {{contestData.ContestFormat}}</label>
					</div>
				</div>
				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Entry Type:</b> {{contestData.EntryType}}</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Contest Type: </b> {{contestData.ContestType}}</label>
					</div>
				</div>

				<div class="col-md-3">
					<div class="form-group">
						<label class="filter-col" for="ParentCategory"><b>Confirm Contest: </b> {{contestData.IsConfirm}}</label>
					</div>
				</div>
				<div class="col-md-12">
					<div class="form-group">
						<label><b>Winning Breakout</b></label>
					</div>
				</div>
				<div class="col-md-12">
					<table class="table table-striped table-condensed table-hover table-sortable">
						<thead>
							<tr>
								<th>From</th>
								<th>To</th>
								<th>Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="breakouts in contestData.CustomizeWinning">
								<td>{{breakouts.From}}</td>
								<td>{{breakouts.To}}</td>
								<td>{{breakouts.WinningAmount}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<label>Winners</label>
					<table class="table" >
						<thead>
							<tr>
								<th>Rank</th>
								<th>Username</th>
								<th>Email</th>
								<th>Phone</th>
								<th>Points</th>
								<th>Won</th>
							</tr>
						</thead>
						<tbody>

							<tr ng-repeat="teams in formData.Records" >
								<td>{{teams.UserRank}}</td>
								<td>{{teams.Username}}</td>
								<td>{{teams.Email}}</td>
								<td ng-if="teams.PhoneNumber !=''">{{teams.PhoneNumber}}</td>
								<td>{{teams.TotalPoints}}</td>
								<td>{{teams.UserWinningAmount}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!-- hidden parameters -->
			<input type="hidden" name="ContestGUID" value="{{formData.ContestGUID}}">
			<!-- hidden parameters /-->
		</form>
	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
</div>


