<div class="modal-body">
	<div class="form-area">

		<div class="form-group">
			<div id="picture-box" class="picture-box banner">

				<img id="picture-box-picture" ng-src="./asset/img/default-category.png">


				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Post">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">
					</form>
				</div>

				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
			</div>
		</div> 


		<form id="add_form" name="add_form" autocomplete="off" >
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="filter-col" for="">Game Rule Title</label>
                        <select id="" name="RuleName" class="form-control">
                            <option value="">Please Select</option>
                            <option value="SoloRule">solo game rule</option>
                            <option value="DualRule">dual game rule</option>
                            <option value="SquadRule">squad game rule</option>
                        </select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Rules</label>
						<textarea name="Rules" class="form-control" value=""></textarea>
					</div>
				</div>
			</div>

			<!-- hidden parameters -->
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUIDs" value="" > <!-- for banner -->
			<!-- <input type="hidden" class="PostType" id="PostType" name="PostType" value="Testimonial">  --><!-- for banner -->
			<!-- <input type="hidden" class="Privacy" id="Privacy" name="Privacy" value="Public">  --><!-- for banner -->
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="addDataLoading" ng-click="addData()">Save</button>
</div>


