<div class="modal-body">
	<div class="form-area">

		 <div class="form-group">
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				 <img id="picture-box-picture" ng-src="{{formData.MediaURL}}" width="100px" height="50px"> 
				<!-- picture upload form -->
				 <div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn" >
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Post">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUID">
					</form>
				</div>
				
				<!-- progressbar -->
				 <div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div> 
			</div>
		</div> 

		<form id="edit_form" name="edit_form" autocomplete="off" >

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="filter-col" for="">Game Rule Title</label>
                        <select  id="" name="RuleName" ng-model="formData.RuleName" class="form-control">
                            <option value="">Please Select</option>
                            <option ng-selected="formData.RuleName" value="{{formData.RuleName}}" >{{formData.RuleName}}</option>
                        </select>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Rules</label>
						<textarea name="Rules" class="form-control" >{{formData.Rules}}</textarea>
					</div>
				</div>
			</div>

			<!-- hidden parameters -->
			<input type="hidden" class="MediaGUID" id="MediaGUID" name="MediaGUID" value="">  <!-- for banner -->
		    <input type="hidden" name="RuleId" value="{{formData.RuleId}}"> 	
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>
</div>


